{include file="public/cn/cn_header" /} {include file="public/cn/cn_head" /}
{include file="public/cn/cn_huge_screen4" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2  >伊玛尔南区</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a3">
      伊玛尔南区提出了关于迪拜分层联排别墅和迪拜标准联排别墅的新概念，是一个综合型开发区。独立别墅和公寓将享有社区内令人惊叹的18洞锦标赛高尔夫球场景色，提供真正令人满足的生活方式。
伊玛尔南区位于迪拜和阿布扎比的十字路口，距离2020世博会现场仅有几分钟的路程，是未来迪拜真正启航的地方。
知名娱乐设施、便利的购物环境、度假酒店和设备齐全的社区中心，将令你享受在这里的每一天。
    </a>
  </div>
  <div class="col-md-12 padding0" style="padding-top:75px">
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_south1.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">厄巴纳三区</a><br>
        <a class="xiangmu_div_2_1_a2">Urbana III</a><br>
        <a class="xiangmu_div_2_1_a3">位于伊玛尔南区的创新综合发展区、被绿色的锦标赛级迪拜高尔夫球场所环绕的联排别墅，提供了一种新的生活方式。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_south2.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">观景高尔夫</a><br>
        <a class="xiangmu_div_2_1_a2">Golf Views</a><br>
        <a class="xiangmu_div_2_1_a3">伫立于社区中心的风格公寓，紧邻风景如画的林荫道，这里有高尔夫球场长廊，更有无边泳池与郁郁葱葱的绿地，可俯瞰伊玛尔南区的锦标赛级迪拜高尔夫球场。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>

  </div>

  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
      <h2>联系我们</h2>
      <h2>联系电话：400-000-0000</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-top: 0px;">
      <a style="font-size:24px">垂询与资讯 <br>我们将以邮件的形式定期为您发送伊玛尔新闻资讯</a>
    </div>
  </div>
  <div class="col-md-12">
    <div style="width: 584px;margin-right: auto;margin-left: auto;">

      <input id="lianxi_xingming_input" class="form-control index_input" placeholder="姓名" type="text" name="" value="">
      <input id="lianxi_xingming_email" class="form-control index_input" placeholder="邮箱" type="text" name="" value="">
      <div class="input-group" style="margin-bottom:21px">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 130px;border-color: #333;">
            国家代码 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- /btn-group -->
        <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="联系电话"  aria-label="...">
      </div>
     <button type="button" class="btn btn-default index_bu">提交</button>
      <!-- /input-group -->
    </div>
    <!-- /input-group -->
  </div>
  <div class="col-md-12">
    <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
      <a style="font-size:24px">关注我们</a>
    </div>
  </div>
  <div class="col-md-12 padding0" style="    text-align: center;">
    <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
  </div>


{include file="public/cn/cn_foot" /}
