{include file="public/ar/ar_header" /}
{include file="public/ar/ar_head" /}
{include file="public/ar/ar_huge_screen4" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2  >جنوب</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a3">
      الجنوب   طرح   عن   دبي   و   دبي   على مستوى   الطبقات   فيلا   فيلا   مفهوم جديد   ،   هو   تطوير   شامل   في المنطقة.   فيلا مستقلة   داخل المجتمع   و   الشقق سوف   تتمتع   مذهلة   في بطولة   18 حفرة   للغولف   المشهد   الحقيقي   إرضاء   نمط الحياة.
  جنوب   دبي و   أبو ظبي   يقع في   مفترق طرق   بعد   معرض اكسبو   2020   في الموقع   فقط بضع   دقائق   ،   المستقبل   الحقيقي   هو   الإبحار في   دبي   .......
 مرافق الترفيه   الشهيرة   ، وتيسير   بيئة التسوق   والمنتجعات   و   مجهزة تجهيزا جيدا   مركز المجتمع،   سوف   تستمتع   هنا   كل يوم.
    </a>
  </div>
  <div class="col-md-12 padding0" style="padding-top:75px">
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_south1.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">أوربانا   ثلاث مناطق</a><br>
        <a class="xiangmu_div_2_1_a2">Urbana III</a><br>
        <a class="xiangmu_div_2_1_a3">تقع في   جنوب      الابتكار في   التنمية الشاملة في المنطقة   ،   كان   مستوى   الأخضر   بطولة   دبي   للجولف   التي   تحيط   فيلا   يوفر   نمط حياة جديدة.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_south2.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">تطل على   الجولف</a><br>
        <a class="xiangmu_div_2_1_a2">Golf Views</a><br>
        <a class="xiangmu_div_2_1_a3">يقف في   مركز المجتمع   نمط   شقة   بالقرب من   شارع   الخلابة   ،   هناك   ملعب   النزهة،   أكثر   بدون   بركة سباحة   و   الأحزمة الخضراء   ، ويطل على   مستوى   جنوب    بطولة   دبي   للجولف.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>

  </div>

    <div class="col-md-12">
      <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
        <h2>الاتصال بنا</h2>
        <h2>الهاتف：400-000-0000</h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="index_lianxi_titile1" style="padding-top: 0px;">
        <a style="font-size:24px">المعلومات<br>ونحن سوف   البريد الإلكتروني   لك   伊玛尔   بانتظام   إرسال   الأخبار</a>
      </div>
    </div>
    <div class="col-md-12">
      <div style="width: 584px;margin-right: auto;margin-left: auto;">

        <input id="lianxi_xingming_input" class="form-control index_input" placeholder="الاسم" type="text" name="" value="">
        <input id="lianxi_xingming_email" class="form-control index_input" placeholder="صندوق البريد" type="text" name="" value="">
        <div class="input-group" style="margin-bottom:21px">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 130px;border-color: #333;">
              رمز البلد <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <!-- /btn-group -->
          <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="الهاتف"  aria-label="...">
        </div>
       <button type="button" class="btn btn-default index_bu">تقديم</button>
        <!-- /input-group -->
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-md-12">
      <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
        <a style="font-size:24px">القلق   لدينا</a>
      </div>
    </div>
    <div class="col-md-12 padding0" style="    text-align: center;">
      <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
    </div>


{include file="public/ar/ar_foot" /}
