{include file="public/en/en_header" /}
{include file="public/en/en_head" /}
{include file="public/en/en_huge_screen4" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2  >Southern District of IM</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a3">
      Imar South District has put forward a new concept of Dubai layered villas and Dubai standard villas, is a comprehensive development zone. Independent villas and apartments will enjoy an amazing 18 hole Tournament Golf Course in the community, providing a truly satisfying lifestyle.
Imar South, just a few minutes from the site of Expo 2020, is the crossroads between Dubai and Abu Dhabi. It is the real starting point for Dubai in the future.
Well-known entertainment facilities, convenient shopping environment, resort hotels and well-equipped community centers will make you enjoy every day here.
    </a>
  </div>
  <div class="col-md-12 padding0" style="padding-top:75px">
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_south1.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">Urbana III</a><br>
        <a class="xiangmu_div_2_1_a3">Located in the Innovative Comprehensive Development Zone in Imar South, the green Championship Dubai Golf Course provides a new way of life.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">Consultation</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_south2.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a2">Golf Views</a><br>
        <a class="xiangmu_div_2_1_a3">Standing in the style apartment of the community center, next to the picturesque avenue, there is a golf course corridor, with unlimited pools and lush green, overlooking the Championship Dubai Golf Course in the Imar South District.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">Consultation</button>
      </div>
    </div>

  </div>

  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
      <h2>Contact us</h2>
      <h2>Contact number: 400-000-0000</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-top: 0px;">
      <a style="font-size:24px">Enquiries and information <br>We will send you imar news and information by mail regularly</a>
    </div>
  </div>
  <div class="col-md-12">
    <div style="width: 584px;margin-right: auto;margin-left: auto;">

      <input id="lianxi_xingming_input" class="form-control index_input" placeholder="name" type="text" name="" value="">
      <input id="lianxi_xingming_email" class="form-control index_input" placeholder="email" type="text" name="" value="">
      <div class="input-group" style="margin-bottom:21px">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 150px;border-color: #333;">
            Country code <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- /btn-group -->
        <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="Contact phone number"  aria-label="...">
      </div>
     <button type="button" class="btn btn-default index_bu">submit</button>
      <!-- /input-group -->
    </div>
    <!-- /input-group -->
  </div>
  <div class="col-md-12">
    <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
      <a style="font-size:24px">Pay attention to our</a>
    </div>
  </div>
  <div class="col-md-12 padding0" style="    text-align: center;">
    <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
  </div>


{include file="public/en/en_foot" /}
