  <div class="col-md-12 padding0">
    <div class="foot_div">
      <div class="font_a_div">
        <a href="/ar#maodian_guanyu">عن</a> |
        <a href="/ar#maodian_xinwen">الأخبار</a> |
        <a href="/ar#maodian_xiangmu">المجتمع</a> |
        <a href="/ar#maodian_shuju">البيانات</a> |
        <a href="/ar#maodian_lianxi">الاتصال</a> |
        <a href="">الخصوصية</a>
      </div>
      <div class="font_a_div" style="    text-align: left;margin-top: 101px;padding-left: 15px;font-weight: 200;">
        ©Emaar2018
      </div>
    </div>
  </div>

  </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/www/js/bootstrap.js"></script>
  </body>
</html>
