<div class="xinwen_head2s">
  <div style="width: 960px;
    margin-left: auto;
    margin-right: auto;">
    <a href="/ar/" class="xinwen_head2s_screen_a">المنزل</a>
    <a href="/ar#maodian_guanyu" class="xinwen_head2s_screen_a">عن</a>
    <a href="/ar#maodian_xinwen" class="xinwen_head2s_screen_a">الأخبار</a>
    <a href="/ar#maodian_xiangmu" class="xinwen_head2s_screen_a">المجتمع</a>
    <a href="/ar#maodian_shuju" class="xinwen_head2s_screen_a">البيانات</a>
    <a href="/ar#maodian_lianxi" class="xinwen_head2s_screen_a">الاتصال</a>
  </div>
</div>
