<aside>
  <div id="sidebar" class="nav-collapse ">
    <ul class="sidebar-menu">
{if condition="$Think.session.admin_leixing eq 1"}
      {eq name="sidebar" value="1"}
      <li class="active">
      {else/}
      <li>
      {/eq}
        <a class="" href="/admcncp/">
          <i class="icon-user"></i>
            <span>管理员</span>
          </a>
      </li>
{/if}


<!--

      {eq name="sidebar" value="2"}
      <li class="active">
      {else/}
      <li>
      {/eq}
        <a class="" href="/admcncp/daili/1">   
          <i class="icon-align-left"></i>
            <span>代理管理</span>
          </a>
      </li>


-->
      {eq name="sidebar" value="2"}
      <li class="active">
      {else/}
      <li>
      {/eq}
        <a class="" href="/admcncp/news/1">   
          <i class="icon-align-left"></i>
            <span>新闻资讯</span>
          </a>
      </li>

        {eq name="sidebar" value="3"}
        <li class="active">
            {else/}
        <li>
            {/eq}
            <a class="" href="/admcncp/youShi/1">
                <i class="icon-comments"></i>
                <span>投资优势</span>
            </a>
        </li>
        {eq name="sidebar" value="4"}
        <li class="active">
            {else/}
        <li>
            {/eq}
            <a class="" href="/admcncp/yeWu">
                <i class="icon-comments"></i>
                <span>主营业务</span>
            </a>
        </li>
      {eq name="sidebar" value="5"}
      <li class="active">
      {else/}
      <li>
      {/eq}
        <a class="" href="/admcncp/lxwm/1">   
          <i class="icon-comments"></i>
            <span>联系我们</span>
          </a>
      </li>




    </ul>
  </div>
</aside>
