.head_bj{
    background-image: url("/static/www/img/lian_xwm/head_bj.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    width:100% ;
    height: 246px;
}
.div_logo{
    width: 230px;
    height: 34px;
    position: absolute;
    left: 262px;
    top: 50px;
}
.img_logo{
    width: 100%;
    height: 100%;
}
.div_menu{
    width: 29px;
    height: 18px;
    position: absolute;
    right: 200px;
    top: 65px;
}
.img_menu{
    width: 100%;
    height: 100%;
}
.news_div_menu_list{
    width: 83px;
    height: 115px;
    position: absolute;
    background-image: url("/static/www/img/menu_backgroup.png");
    opacity:0.5;
    filter:alpha(opacity=50);
    position: absolute;
    left: 1630px;
    top: 88px;
    display: none;
}
.news_div_menu_list ul{
    margin:10px 0px 0 -25px;
}

.news_div_menu_list ul li{
    width: 100px;
}
ul li{
    list-style-type: none;
    color: #ffffff;
}

ul li a{
    text-align: center;
    color: #585858;
    font-size: 12px;
    font-family:Lantinghei SC;
    line-height:25px;
}

ul li a:hover{
    color: #302f2f;
}

.ibk_div_menu_list{
    width: 83px;
    height: 115px;
    background-image:url("/static/www/img/menu_backgroup.png");
    opacity:0.5;
    filter:alpha(opacity=50);
    position: absolute;
    right: 152px;
    top: 88px;
    display: none;
}
.ibk_div_menu_list ul{
    margin:10px 0px 0 -25px;
}

.ibk_div_menu_list ul li{
    width: 100px;
}
ul li{
    list-style-type: none;
    color: #ffffff;
}

ul li a{
    text-align: center;
    color: #585858;
    font-size: 12px;
    font-family:Lantinghei SC;
    line-height:25px;
}

ul li a:hover{
    color: #302f2f;
}

.div_we_chat_brackgroup{
    display: none;
}
.div_text_bg{
    display: none;
}

.title{
    width: 345px;
    height: 32px;
    position: absolute;
    left: 263px;
    top: 208px;
}
.img_pic{
    width: 100%;
    height: 100%;
}
.menu{
    width: 1262px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 206px;
}
