{include file="public/cn/cn_header" /} {include file="public/cn/cn_head" /}
{include file="public/cn/cn_huge_screen3" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2  >迪拜云溪港</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a2">生活、休闲与奢华相遇的地方。</a><br>
    <a class="xiangmu_a3">
      生活、工作、娱乐和自我发展，皆在迪拜云溪港。位于迪拜云溪港口的Ras Al Khor野生动物保护区，是世界上为数不多的自然保护区之一，拥有成千上万的迁徙鸟类。居民和游客可以享受田园诗般的生活，栖水而居，享受自然。
<br>社区项目包括云溪高顶、云溪堤港、港湾区、云溪泊湾、云溪地平线
    </a>
  </div>
  <div class="col-md-12 padding0" style="padding-top:75px">
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port1.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">阿德里斯港角区</a><br>
        <a class="xiangmu_div_2_1_a2">Address Harbour Point</a><br>
        <a class="xiangmu_div_2_1_a3">阿德里斯港角区位于迪拜云溪港，从这两座豪华雅致的酒店式公寓出发，居民可以轻松前往游艇泊湾，公园和码头，体验丰富多彩的美食，购物和娱乐活动。户型选择包括一居室，二居室，三居室海滨公寓。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port2.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">环岛公园</a><br>
        <a class="xiangmu_div_2_1_a2">Island Park</a><br>
        <a class="xiangmu_div_2_1_a3">环绕着郁郁葱葱的园林，伴随欣赏迪拜天际线和迪拜云溪塔的美景，仅为中国顾客开发的首个住宅项目环岛公园（Island Park）将是你的理想居所：无与伦比的公共设施，林荫大道咫尺之遥，公园绿地风景如画。户型选择包括一室、两室和三室公寓。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>

    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port3.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">云溪堤港</a><br>
        <a class="xiangmu_div_2_1_a2">The Cove</a><br>
        <a class="xiangmu_div_2_1_a3">世界级海滨社区，坐观全景迪拜市中心区，哈利法塔和RasAl Khor野生动物保护区。公寓包括一居室、两居室和三居室。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port4.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">云溪高顶</a><br>
        <a class="xiangmu_div_2_1_a2">Creek Rise</a><br>
        <a class="xiangmu_div_2_1_a3">精致典雅的精装修住宅高层，享有无与伦比的景观，俯瞰岛区中央公园和迪拜云溪塔。公寓包括一居室、两居室和三居室，均带有阳台。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port5.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">港湾区</a><br>
        <a class="xiangmu_div_2_1_a2">Harbour Gate</a><br>
        <a class="xiangmu_div_2_1_a3">主要位于岛屿区，周围环绕着郁郁葱葱的绿色公园，可全景俯瞰迪拜码头和迪拜未来地标——迪拜云溪塔。公寓包括一居室、两居室和三居室，均带有阳台。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port6.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">云溪泊湾</a><br>
        <a class="xiangmu_div_2_1_a2">Creek Gate</a><br>
        <a class="xiangmu_div_2_1_a3">走出云溪泊湾，呈现在眼前的是一个蓬勃发展的繁华海滨区域，迪拜的过去和未来在此交融，形成一场感官上神话般的盛宴。公寓包括一居室、两居室和三居室，均带有阳台。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_4" style="">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port7.png" alt="" style="    width: 48%;float:left">
      <div class="" style="float: left;width: 48%;">
        <div class="xiangmu_div_2_1">
          <a class="xiangmu_div_2_1_a1">容云溪地平线</a><br>
          <a class="xiangmu_div_2_1_a2">Creek Horizon</a><br>
          <a class="xiangmu_div_2_1_a3">云溪地平线上的摩天大楼们优雅地矗立在在翠绿的公园和闪光的河道上，超过四十层楼高度带来令人难忘的景观，为您创造出值得一生纪念的回忆。云溪地平线拥有超过500套当代公寓，其中包括单身公寓、两居室公寓、三居室公寓，以及环绕着壮观景色的顶层豪华套房。为您提供超凡的风格体验</a>
        </div>
        <div class="xiangmu_div_2_3">
          <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
      <h2>联系我们</h2>
      <h2>联系电话：400-000-0000</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-top: 0px;">
      <a style="font-size:24px">垂询与资讯 <br>我们将以邮件的形式定期为您发送伊玛尔新闻资讯</a>
    </div>
  </div>
  <div class="col-md-12">
    <div style="width: 584px;margin-right: auto;margin-left: auto;">

      <input id="lianxi_xingming_input" class="form-control index_input" placeholder="姓名" type="text" name="" value="">
      <input id="lianxi_xingming_email" class="form-control index_input" placeholder="邮箱" type="text" name="" value="">
      <div class="input-group" style="margin-bottom:21px">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 130px;border-color: #333;">
            国家代码 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- /btn-group -->
        <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="联系电话"  aria-label="...">
      </div>
     <button type="button" class="btn btn-default index_bu">提交</button>
      <!-- /input-group -->
    </div>
    <!-- /input-group -->
  </div>
  <div class="col-md-12">
    <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
      <a style="font-size:24px">关注我们</a>
    </div>
  </div>
  <div class="col-md-12 padding0" style="    text-align: center;">
    <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
  </div>


{include file="public/cn/cn_foot" /}
