{include file="public/ar/ar_header" /}
{include file="public/ar/ar_head" /}
{include file="public/ar/ar_huge_screen3" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2  >يون   ميناء   دبي</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a2">الحياة   والترفيه   الفاخرة   مكان اللقاء   .</a><br>
    <a class="xiangmu_a3">
      في الحياة، والعمل،   والترفيه،   تطوير الذات   ، كل   يون   في   ميناء   دبي   .   يقع   ميناء   راس   آل   خور   دبي   يون   محمية الحياة البرية   في العالم   عدد   المحميات الطبيعية   ، واحدة مع   الآلاف من   الطيور المهاجرة   .   من المقيمين والزوار   يمكن أن يتمتع   شاعري   الحياة   المائية   العيش   والتمتع بالطبيعة   .
      <br>وتشمل المشاريع   المجتمعية   ،   يون   يون   أعلى   جسر   الميناء،   في منطقة الخليج   ،   الخليج   ،   يون   يون   بو   الأفق
    </a>
  </div>
  <div class="col-md-12 padding0" style="padding-top:75px">
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port1.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">أدريان   سميث   هاربور   منطقة   زاوية</a><br>
        <a class="xiangmu_div_2_1_a2">Address Harbour Point</a><br>
        <a class="xiangmu_div_2_1_a3">أدريان   سميث   هاربور   زاوية   منطقة تقع في   ميناء   دبي   يون   ،   من   اثنين من مباني   الشقق الفندقية   الفاخرة   وأنيقة   ، بدءا من   السهل   إلى   سكان   خليج   مارينا   اليخوت   الراسية   ،   بارك   ، تجربة   غنية من   الطعام،   التسوق و   الترفيه.   اختيار   غرفة نوم واحدة   شقة   تتألف من   غرفتين   و   ثلاث غرف نوم   شقة على شاطئ البحر   .......</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port2.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">الجزيرة   بارك</a><br>
        <a class="xiangmu_div_2_1_a2">Island Park</a><br>
        <a class="xiangmu_div_2_1_a3">وتحيط بها   الحدائق   المورقة   مع   التقدير   أفق   دبي   برج   دبي   و   يون   جمال   فقط   العملاء   تطوير   الصين   أول   مشروع سكني   حديقة   الجزيرة   (   جزيرة   بارك)   سوف يكون لك   المنزل المثالي   :   لا مثيل لها   في المرافق العامة،   شارع   قريبة   ،   الحدائق الخضراء   الخلابة.   اختيار حجم   الغرفة   ،   بما في ذلك   اثنين من غرف   و   ثلاث غرف   شقة.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>

    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port3.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">يون   دي   ميناء</a><br>
        <a class="xiangmu_div_2_1_a2">The Cove</a><br>
        <a class="xiangmu_div_2_1_a3">من الطراز العالمي   المجتمعات الساحلية   ،   تركب   بانوراما   دبي   وسط المدينة،   (   برج   خليفة   )   و   RasAl   خور   محمية الحياة البرية   .   شقة   غرفة نوم واحدة   ،   تتألف من   غرفتين   و   ثلاث غرف نوم   .</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port4.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">يون   أعلى</a><br>
        <a class="xiangmu_div_2_1_a2">Creek Rise</a><br>
        <a class="xiangmu_div_2_1_a3">أنيقة   زينت الإقامة   الشاهقة   تتمتع   المناظر الطبيعية   ،   لا مثيل لها   ،   جزيرة   تطل على   منطقة   سنترال بارك   يون   برج   دبي   .......   غرفة نوم واحدة   شقة   تضم   اثنين   وثلاث غرف نوم   ، كل   مع   شرفة.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port5.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">منطقة الميناء</a><br>
        <a class="xiangmu_div_2_1_a2">Harbour Gate</a><br>
        <a class="xiangmu_div_2_1_a3">تقع أساسا في   المناطق   الجزرية   ، وتحيط بها   الحدائق   الخضراء المورقة   ،   بانوراما   تطل على   مارينا دبي   و دبي   برج   دبي   في المستقبل   معلما   -   يون   .   غرفة نوم واحدة   شقة   تضم   اثنين   وثلاث غرف نوم   ، كل   مع   شرفة.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port6.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">وان   يون   بو</a><br>
        <a class="xiangmu_div_2_1_a2">Creek Gate</a><br>
        <a class="xiangmu_div_2_1_a3">من   يون   بو   باي،   أمامك   هو   ازدهار   المنطقة الساحلية   في دبي   الصاخبة   ،   الماضي و المستقبل   في هذا   التكامل،   وشكلت   الحسية   وليمة رائعة   .......   غرفة نوم واحدة   شقة   تضم   اثنين   وثلاث غرف نوم   ، كل   مع   شرفة.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_4" style="">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port7.png" alt="" style="    width: 48%;float:left">
      <div class="" style="float: left;width: 48%;">
        <div class="xiangmu_div_2_1">
          <a class="xiangmu_div_2_1_a1">يون   الأفق   .</a><br>
          <a class="xiangmu_div_2_1_a2">Creek Horizon</a><br>
          <a class="xiangmu_div_2_1_a3">يون   الأفق   تقف   ناطحات السحاب   بأمان   في   الحديقة   الخضراء   و   قناة   فلاش   على   أكثر من أربعين   طابقا   ارتفاع   يجلب   لا تنسى   المناظر الطبيعية   ، يمكنك   خلق   ذكريات   ذكرى   تستحق   الحياة   .   مع أكثر من   500   كم   يون   الأفق   شقة المعاصرة   ، بما في ذلك   اثنين من غرفة نوم   شقة واحدة   ،   شقة،   شقة من ثلاث غرف نوم   مع   إطلالة رائعة على   أعلى مستوى   حول   جناح فاخر   .   توفر لك   نمط   تجربة   استثنائية</a>
        </div>
        <div class="xiangmu_div_2_3">
          <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
      <h2>الاتصال بنا</h2>
      <h2>الهاتف：400-000-0000</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-top: 0px;">
      <a style="font-size:24px">المعلومات<br>ونحن سوف   البريد الإلكتروني   لك   伊玛尔   بانتظام   إرسال   الأخبار</a>
    </div>
  </div>
  <div class="col-md-12">
    <div style="width: 584px;margin-right: auto;margin-left: auto;">

      <input id="lianxi_xingming_input" class="form-control index_input" placeholder="الاسم" type="text" name="" value="">
      <input id="lianxi_xingming_email" class="form-control index_input" placeholder="صندوق البريد" type="text" name="" value="">
      <div class="input-group" style="margin-bottom:21px">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 130px;border-color: #333;">
            رمز البلد <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- /btn-group -->
        <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="الهاتف"  aria-label="...">
      </div>
     <button type="button" class="btn btn-default index_bu">تقديم</button>
      <!-- /input-group -->
    </div>
    <!-- /input-group -->
  </div>
  <div class="col-md-12">
    <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
      <a style="font-size:24px">القلق   لدينا</a>
    </div>
  </div>
  <div class="col-md-12 padding0" style="    text-align: center;">
    <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
  </div>


{include file="public/ar/ar_foot" /}
