{include file="public/en/en_header" /} {include file="public/en/en_head" /}
{include file="public/en/en_huge_screen3" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2  >cloud creek port</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a2">A place where life, leisure and luxury meet.</a><br>
    <a class="xiangmu_a3">
      Life, work, entertainment and self-development are all located in dubai's yunxi port. Ras Al Khor wildlife reserve, located at the port of yunxi in dubai, is one of the few nature reserves in the world with thousands of migratory birds. Residents and tourists can enjoy idyllic life, living in water and enjoying nature.
<br> community projects include yunxi gaoding, yunxi dike port, harbor area, yunxi bowan and yunxi horizon
    </a>
  </div>
  <div class="col-md-12 padding0" style="padding-top:75px">
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port1.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">Address Harbour Point</a><br>
        <a class="xiangmu_div_2_1_a3">From these two luxurious, elegant hotel-style apartments in the port of yunxi in dubai, residents can easily go to the marina bay, the park and the dock to experience a variety of food, shopping and entertainment activities. The choice of house type includes one-bedroom, two-bedroom and three-bedroom beachfront apartment.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom" style="    width: 217px;">Inquiry and consultation</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port2.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">Island Park</a><br>
        <a class="xiangmu_div_2_1_a3">Surrounded by lush gardens and surrounded by views of the dubai skyline and dubai's cloud creek tower, the first residential development for a Chinese customer, Island Park, will be your ideal place to live: unparalleled public facilities, close to the boulevards and picturesque parkland. The choice of apartment type includes one, two and three - bedroom apartments. </a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom" style="    width: 217px;">Inquiry and consultation</button>
      </div>
    </div>

    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port3.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">The Cove</a><br>
        <a class="xiangmu_div_2_1_a3">World class coastal community with panoramic views of downtown dubai, khalifa tower and RasAl Khor wildlife reserve. The apartment includes one bedroom, two bedrooms and three bedrooms. </a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom" style="    width: 217px;">Inquiry and consultation</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port4.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">Creek Rise</a><br>
        <a class="xiangmu_div_2_1_a3">The exquisite, elegant, well-decorated residential high-rise boasts unparalleled views overlooking the island's central park and dubai's yunxi tower. Apartments include one, two and three bedrooms, all with balconies. </a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom" style="    width: 217px;">Inquiry and consultation</button>
      </div>
    </div>
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port5.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">Harbour Gate</a><br>
        <a class="xiangmu_div_2_1_a3">The main island district is surrounded by lush green parks overlooking dubai's waterfront and its future landmark, the dubai cloud creek tower. Apartments include one, two and three bedrooms, all with balconies. </a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom" style="    width: 217px;">Inquiry and consultation</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port6.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">Creek Gate</a><br>
        <a class="xiangmu_div_2_1_a3">Walking out of yunxi park bay, a prosperous and prosperous coastal area is presented, where the past and future of dubai blend and form a feast of sensory myths. Apartments include one, two and three bedrooms, all with balconies.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom" style="    width: 217px;">Inquiry and consultation</button>
      </div>
    </div>
    <div class="xiangmu_div_4" style="">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_cloud_creek_port7.png" alt="" style="    width: 48%;float:left">
      <div class="" style="float: left;width: 48%;">
        <div class="xiangmu_div_2_1">
          <a class="xiangmu_div_2_1_a1">Creek Horizon</a><br>
          <a class="xiangmu_div_2_1_a3">The skyscrapers on the horizon of yunxi river stand elegantly in the green parks and shining rivers. The height of more than 40 floors brings unforgettable scenery and creates a lifetime memory for you. Yunxi horizon has more than 500 contemporary apartments, including single apartments, two-bedroom apartments, three-bedroom apartments, and luxury penthouses with spectacular views. Provide you with an extraordinary experience of style</a>
        </div>
        <div class="xiangmu_div_2_3">
          <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom" style="    width: 217px;">Inquiry and consultation</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
      <h2>Contact us</h2>
      <h2>Contact number: 400-000-0000</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-top: 0px;">
      <a style="font-size:24px">Enquiries and information <br>We will send you imar news and information by mail regularly</a>
    </div>
  </div>
  <div class="col-md-12">
    <div style="width: 584px;margin-right: auto;margin-left: auto;">

      <input id="lianxi_xingming_input" class="form-control index_input" placeholder="name" type="text" name="" value="">
      <input id="lianxi_xingming_email" class="form-control index_input" placeholder="email" type="text" name="" value="">
      <div class="input-group" style="margin-bottom:21px">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 150px;border-color: #333;">
            Country code <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- /btn-group -->
        <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="Contact phone number"  aria-label="...">
      </div>
     <button type="button" class="btn btn-default index_bu">submit</button>
      <!-- /input-group -->
    </div>
    <!-- /input-group -->
  </div>
  <div class="col-md-12">
    <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
      <a style="font-size:24px">Pay attention to our</a>
    </div>
  </div>
  <div class="col-md-12 padding0" style="    text-align: center;">
    <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
  </div>
{include file="public/en/en_foot" /}
