{include file="public/cn/cn_header" /} {include file="public/cn/cn_head" /}
{include file="public/cn/cn_huge_screen6" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2  >滨海新区</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a3">
      伊玛尔“滨海新区”项目位于全新落成的、 活力洋溢的迪拜港， 设有27栋不同凡响的高层楼宇， 打造独具一格的海滨社区。住户可以直达海滩。 位于任何一栋大楼， 都可观赏到其中一侧长达750米碧海 白沙岸线，尽情欣赏迪拜其他区域无法企及的海边美景。由阿拉伯湾所环绕的伊玛尔滨海新区，拥有这一带无可挑剔的绝佳视野，不同的观景方向可纵览卓美亚棕榈岛及亚特兰蒂斯，卓美亚酒店游艇泊湾天际线和迪拜眼.迪拜港也以这一区域最大的滨海购物中心闻名，以及这里的公共服务、游艇俱乐部、游艇泊湾、办公设施和游艇码头从这里出发，几分钟即可抵达迪拜游艇泊湾、棕榈岛和卓美亚海滩别墅群（JBR)，前往迪拜的主要区域如迪拜市中心区和迪拜国际机场等亦可一路畅行，欣赏沿途大好风光。<br>
    </a>
  </div>

    <div class="xiangmu_div_4" style="margin-top:91px">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_beach_vista1.png" alt="" style="    width: 48%;float:left">
      <div class="" style="float: left;width: 48%;">
        <div class="xiangmu_div_2_1">
          <a class="xiangmu_div_2_1_a1">海滨美景</a><br>
          <a class="xiangmu_div_2_1_a2">Beach Vista</a><br>
          <a class="xiangmu_div_2_1_a3">一处独特的滨海住宅，将岛屿生活与都市体验汇聚于伊玛尔滨海新区的中心，在这里可以纵览迪拜眼和棕榈岛。1至4室公寓供选择，矗立在阿拉伯湾的碧蓝海湾，在这里居住，沙滩触手可及，都市生活也近在咫尺。</a>
        </div>
        <div class="xiangmu_div_2_3">
          <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
      <h2>联系我们</h2>
      <h2>联系电话：400-000-0000</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-top: 0px;">
      <a style="font-size:24px">垂询与资讯 <br>我们将以邮件的形式定期为您发送伊玛尔新闻资讯</a>
    </div>
  </div>
  <div class="col-md-12">
    <div style="width: 584px;margin-right: auto;margin-left: auto;">

      <input id="lianxi_xingming_input" class="form-control index_input" placeholder="姓名" type="text" name="" value="">
      <input id="lianxi_xingming_email" class="form-control index_input" placeholder="邮箱" type="text" name="" value="">
      <div class="input-group" style="margin-bottom:21px">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 130px;border-color: #333;">
            国家代码 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- /btn-group -->
        <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="联系电话"  aria-label="...">
      </div>
     <button type="button" class="btn btn-default index_bu">提交</button>
      <!-- /input-group -->
    </div>
    <!-- /input-group -->
  </div>
  <div class="col-md-12">
    <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
      <a style="font-size:24px">关注我们</a>
    </div>
  </div>
  <div class="col-md-12 padding0" style="    text-align: center;">
    <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
  </div>


{include file="public/cn/cn_foot" /}
