
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/www/js/bootstrap.js"></script>
    <script>
      $(function(){
          $("#div_zuo1, #div_zuo2 ,#div_zuo3, #div_zuo4, #div_zuo5").hover(
              function(){
                  var body = $("body").attr("class");
                  var this_id =  $(this).attr("id");
                  $("body").removeClass(body);
                  switch (this_id){
                      case 'div_zuo1':
                          $("body").addClass("background_pic_zuo1");
                          $(this).removeClass();
                          $(this).addClass("div_zuo1_large");
                          $('#text_zuo1').hide();
                          $('#div_zuo_xian').css({
                              'width':'31%',
                              'position':'fixed',
                              'transform':'rotate(31deg)',
                              'left':'17.5%',
                              'top':'44%',
                          });
                          $('#span_jie_shao').html('IBKFO家族办公室介绍');
                          $('#jie_shao_content').html('移投行家族办公室（IBKFO)中国总部位于上海中心大厦。一直致力于为高净值客户提供移民、海外资产配置、家族财富管理及家族传承服务。移投行家族办公室（IBKFO)在国内外设有分公司，目前迪拜地产公司已取得迪拜土地管理局注册认证。');
                          $('#div_zuo2').removeClass();
                          $('#div_zuo2').addClass("div_zuo2_small")
                          $('#div_zuo2').css({'position':  'fixed','left':'12%','top':'35%'});
                          $('#text_zuo2').css({'position':  'fixed','left':'18%','top':'37.5%','display':'inline'});
                          $('#div_zuo3').removeClass();
                          $('#div_zuo3').addClass("div_zuo3_small")
                          $('#div_zuo3').css({'position': 'fixed','left':'10%','top':'49%'});
                          $('#text_zuo3').css({'position': 'fixed','left':'15%','top':'50.5%','display':'inline'});
                          $("#div_zuo4").removeClass();
                          $('#div_zuo4').addClass("div_zuo4_small")
                          $('#div_zuo4').css({'position': 'fixed','left':'12%','top':'60%'});
                          $('#text_zuo4').css({'position': 'fixed','left':'18%','top':'62%','display':'inline'});
                          $('#div_zuo5').removeClass();
                          $('#div_zuo5').addClass("div_zuo5_small")
                          $('#div_zuo5').css({'position': 'fixed','left':'16%','top':'74%'});
                          $('#text_zuo5').css({'position': 'fixed','left':'22%','top':'76.5%','display':'inline'});
                          $('#a_jian_tou').attr('href',"/cn/ibk");
                          $('#a_right_pic').attr('href',"/cn/ibk");
                          $('#img_right_pic').attr("src","/static/www/img/right1.png");
                          break;
                      case 'div_zuo2':
                          $("body").addClass("background_pic_zuo2");
                          $(this).removeClass();
                          $(this).addClass("div_zuo2_large");
                          $('#div_zuo2').css({'position': 'fixed','left':'11%','top':'31%'});
                          $('#text_zuo2').hide();
                          $('#div_zuo_xian').css({
                              'width':'31%',
                              'position':'fixed',
                              'transform':'rotate(18deg)',
                              'left':'14%',
                              'top':'46%',
                          });
                          $('#span_jie_shao').html('迪拜最新资讯');
                          $('#jie_shao_content').html('迪拜，现代化的国际大都市，是中东地区的经济和金融中心。“百花齐放”的教育特色，高端健全的医疗服务，美轮美奂的旅游景点，大气奢华的购物体验，这个未来之城正以其平和优雅的姿态缔造出卓尔不凡的国际化生活方式…');
                          $('#div_zuo1').removeClass();
                          $('#div_zuo1').addClass("div_zuo1_small")
                          $('#div_zuo1').css({'position': 'fixed','left':'16%','top':'20%'});
                          $('#text_zuo1').css({'position': 'fixed','left':'22%','top':'22.5%','display':'inline'});
                          $('#div_zuo3').removeClass();
                          $('#div_zuo3').addClass("div_zuo3_small")
                          $('#div_zuo3').css({'position': 'fixed','left':'9%','top':'52%'});
                          $('#text_zuo3').css({'position': 'fixed','left':'14%','top':'54%','display':'inline'});
                          $('#div_zuo4').removeClass();
                          $('#div_zuo4').addClass("div_zuo4_small")
                          $('#div_zuo4').css({'position': 'fixed','left':'12%','top':'64%'});
                          $('#text_zuo4').css({'position': 'fixed','left':'18%','top':'66.5%','display':'inline'});
                          $('#div_zuo5').removeClass();
                          $('#div_zuo5').addClass("div_zuo5_small")
                          $('#div_zuo5').css({'position': 'fixed','left':'16%','top':'74%'});
                          $('#text_zuo5').css({'position': 'fixed','left':'22%','top':'76.5%','display':'inline'});
                          $('#img_right_pic').attr("src","/static/www/img/right2.png");
                          $('#a_right_pic').attr('href',"/cn/investment_advantage_cn");
                          $('#a_jian_tou').attr('href',"/cn/investment_advantage_cn");
                          break;
                      case 'div_zuo3':
                          $("body").addClass("background_pic_zuo3");
                          $(this).removeClass();
                          $(this).addClass("div_zuo3_large");
                          $('#div_zuo3').css({'position': 'fixed','left':'9%','top':'44%'});
                          $('#text_zuo3').hide();
                          $('#div_zuo_xian').css({
                              'width':'31%',
                              'position':'fixed',
                              'transform':'rotate(0deg)',
                              'left':'13%',
                              'top':'51%',
                          });

                          $('#span_jie_shao').html('EMAAR房产介绍');
                          $('#jie_shao_content').html('EMAAR是迪拜一个规模宏大、高端奢华的景点，作为一个娱乐中心，迪拜乐园拥有的主题公园数量居世界之最，此外还有诸多体育场馆、零售商城和娱乐区，酒店和高端封闭式社区……');
                          $('#div_zuo1').removeClass();
                          $('#div_zuo1').addClass("div_zuo1_small")
                          $('#div_zuo1').css({'position': 'fixed','left':'16%','top':'20%'});
                          $('#text_zuo1').css({'position': 'fixed','left':'22%','top':'22.5%','display':'inline'});
                          $('#div_zuo2').removeClass();
                          $('#div_zuo2').addClass("div_zuo2_small")
                          $('#div_zuo2').css({'position': 'fixed','left':'13%','top':'30.5%'});
                          $('#text_zuo2').css({'position': 'fixed','left':'19%','top':'33%','display':'inline'});
                          $('#div_zuo4').removeClass();
                          $('#div_zuo4').addClass("div_zuo4_small")
                          $('#div_zuo4').css({'position': 'fixed','left':'13%','top':'59%'});
                          $('#text_zuo4').css({'position': 'fixed','left':'19%','top':'61.5%','display':'inline'});
                          $('#div_zuo5').removeClass();
                          $('#div_zuo5').addClass("div_zuo5_small")
                          $('#div_zuo5').css({'position': 'fixed','left':'16%','top':'69%'});
                          $('#text_zuo5').css({'position': 'fixed','left':'22%','top':'71.5%','display':'inline'});
                          $('#img_right_pic').attr("src","/static/www/img/right3.png");
                          $('#a_jian_tou').attr('href',"/cn/emaar");
                          $('#a_right_pic').attr('href',"/cn/emaar");
                          break;
                      case 'div_zuo4':
                          $("body").addClass("background_pic_zuo4");
                          $(this).removeClass();
                          $(this).addClass("div_zuo4_large");
                          $('#div_zuo4').css({'position': 'fixed','left':'12%','top':'61%'});
                          $('#text_zuo4').hide();
                          $('#div_zuo_xian').css({
                              'width':'30%',
                              'position':'fixed',
                              'transform':'rotate(-17deg)',
                              'left':'15%',
                              'top':'59%',
                          });
                          $('#span_jie_shao').html('DP房产介绍');
                          $('#jie_shao_content').html('作为迪拜最大的资产管理公司之一，DP集团拥有多个住宅、商业地产和零售租赁的项目组合，同时物业管理与零售租赁服务涵盖了迪拜众多知名地段。此外，集团旗下住宅项目内也有大量社区零售中心，其产品组合仍在不断扩充。');
                          $('#div_zuo1').removeClass();
                          $('#div_zuo1').addClass("div_zuo1_small")
                          $('#div_zuo1').css({'position': 'fixed','left':'18%','top':'20%'});
                          $('#text_zuo1').css({'position': 'fixed','left':'24%','top':'22.5%','display':'inline'});
                          $('#div_zuo2').removeClass();
                          $('#div_zuo2').addClass("div_zuo2_small")
                          $('#div_zuo2').css({'position': 'fixed','left':'14%','top':'33%'});
                          $('#text_zuo2').css({'position': 'fixed','left':'20%','top':'36%','display':'inline'});
                          $('#div_zuo3').removeClass();
                          $('#div_zuo3').addClass("div_zuo4_small")
                          $('#div_zuo3').css({'position': 'fixed','left':'10%','top':'48%'});
                          $('#text_zuo3').css({'position': 'fixed','left':'16%','top':'50.5%','display':'inline'});
                          $('#div_zuo5').removeClass();
                          $('#div_zuo5').addClass("div_zuo5_small")
                          $('#div_zuo5').css({'position': 'fixed','left':'16%','top':'80%'});
                          $('#text_zuo5').css({'position': 'fixed','left':'22%','top':'83%','display':'inline'});
                          $('#img_right_pic').attr("src","/static/www/img/right4.png");
                          $('#a_jian_tou').attr('href',"/cn/dp");
                          $('#a_right_pic').attr('href',"/cn/dp");
                          break;
                      case 'div_zuo5':
                          $("body").addClass("background_pic_zuo5");
                          $(this).removeClass();
                          $(this).addClass("div_zuo5_large");
                          $('#div_zuo5').css({'position': 'fixed','left':'15%','top': '72%'});
                          $('#text_zuo5').hide();
                          $('#div_zuo_xian').css({
                              'width':'27%',
                              'position':'absolute',
                              'transform':'rotate(-34deg)',
                              'left':'17%',
                              'top':'64%',
                          });
                          $('#span_jie_shao').html('ELLINGTON艾灵顿房产介绍');
                          $('#jie_shao_content').html('从最初的设计理念到最终建筑细节都精雕细琢，只为热衷于设计的您建立属于您的住宅。我们有全球开发经验，在住宅房地产方面投资350 亿美元，总共建成4万户住宅，且总共投入500 亿美元用于房地产开发。');
                          $('#div_zuo1').removeClass();
                          $('#div_zuo1').addClass("div_zuo1_small")
                          $('#div_zuo1').css({'position': 'fixed','left':'18%','top':'20%'});
                          $('#text_zuo1').css({'position': 'fixed','left':'24%','top':'22.5%','display':'inline'});
                          $('#div_zuo2').removeClass();
                          $('#div_zuo2').addClass("div_zuo2_small")
                          $('#div_zuo2').css({'position': 'fixed','left':'15%','top':'31%'});
                          $('#text_zuo2').css({'position': 'fixed','left':'21%','top':'34%','display':'inline'});
                          $('#div_zuo3').removeClass();
                          $('#div_zuo3').addClass("div_zuo3_small")
                          $('#div_zuo3').css({'position': 'fixed','left':'10%','top':'48%'});
                          $('#text_zuo3').css({'position': 'fixed','left':'16%','top':'50.5%','display':'inline'});
                          $('#div_zuo4').removeClass();
                          $('#div_zuo4').addClass("div_zuo4_small")
                          $('#div_zuo4').css({'position': 'fixed','left':'14%','top':'60%'});
                          $('#text_zuo4').css({'position': 'fixed','left':'20%','top':'63%','display':'inline'});
                          $('#a_jian_tou').attr('href',"/cn/eit");
                          $('#a_right_pic').attr('href',"/cn/eit");
                          $('#img_right_pic').attr("src","/static/www/img/right5.png");
                          break;
                  }

              }
          );
          //菜单
          $('#div_menu').click(function(){
              $('#div_menu_list').toggle();
          });
          //微信
          $('#img_we_chat').mouseover(function () {
              $('#div_we_chat_brackgroup').show();
          }).mouseout(function () {
              $('#div_we_chat_brackgroup').hide();
          })
          //微信
          $('#div_mail').mouseover(function () {
              $('#div_text_bg').show();
          }).mouseout(function () {
              $('#div_text_bg').hide();
          })
      })

    </script>
  </body>
</html>
