{include file="public/ar/ar_header" /}
{include file="public/ar/ar_head" /}
{include file="public/ar/ar_huge_screen2" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2  >منطقة مركز   دبي</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a3">
      دبي   منطقة وسط المدينة   هو   (   إعمار   العقاريه   )   الرائد في   مشاريع التنمية الكبيرة   ،   تسمى "   العصر   " مركز   يقع في   مركز   هو   أطول مبنى في العالم   برج خليفة   .<br>
يجب أن نرى   المعالم السياحية شعبية   في   منطقة   وسط مدينة دبي   ، وتشمل أيضا   أكبر شركة في العالم   والتسوق والترفيه   الوجهة   دبي مول   ،   و   أعلى   نافورة   في العالم   نافورة   دبي   الموسيقية   المسرحية   -   .......   اسكتلندا   بحر   (   سوق   آل   بحر   )   هو   أسلوب عربي   مركز التسوق والمطاعم   ،   إضافة مزيد من   هذه المنطقة   سحر.<br>
أوبرا   هو   فندق فاخر   في منطقة   تجمع   سكني   جديد في   المباني،   لدينا   يمكن أن تستوعب   2000 شخص في   موقع   الأنشطة المتكاملة   ،   والتي من أبرزها   هو رسمي   دار أوبرا دبي   .......<br>
كما   تزدهر   وسط المدينة   دبي   منطقة وسط المدينة   على   المباني السكنية   والمناطق التجارية   تصميم دمج   جماليات   فريدة من نوعها   ، بغض النظر عن   الاستثمار في العقارات   السكنية   أو   المباني السكنية   والشقق   هنا   هي   أفضل   اختيار.<br>
وتشمل   المرحلة الثانية من   المشروع المجتمعي   تطل على   وسط المدينة   ،   فيدر   دبي مول   ، أوبرا   بناء   دار الأوبرا   المنطقة الثانية   منطقة   |   مبنى   مبنى   و   بليد   .
    </a>
  </div>
  <div class="col-md-12 padding0" style="padding-top:75px">
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_centre1.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">المرحلة الثانية   تطل على   وسط المدينة</a><br>
        <a class="xiangmu_div_2_1_a2">Downtown Views Ⅱ</a><br>
        <a class="xiangmu_div_2_1_a3">فريدة من نوعها   سكني   في   دبي مول   في منطقة   التوسعة   على ارتفاع   9   طبقة   ،   يجلس   وسط مدينة دبي   في منطقة   دبي مول   مباشرة   .</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_centre2.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">فيدر   دبي مول</a><br>
        <a class="xiangmu_div_2_1_a2">Vida Dubai Mall</a><br>
        <a class="xiangmu_div_2_1_a3">الخدمات العقارية   و   سمعة العلامة التجارية   شقة   مميزة،   هنا يمكن   نقدر   法塔   بانوراما   هاري   و   النافورة الموسيقية في دبي   إلى   دبي مول   .</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>

    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_centre3.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">دار الأوبرا   مبنى   دار الأوبرا   |   بناء   المبنى   الثاني</a><br>
        <a class="xiangmu_div_2_1_a2">Act One | Act Two</a><br>
        <a class="xiangmu_div_2_1_a3">فريدة من نوعها في   مبنى سكني في   "   دار الأوبرا   مبنى   دار الأوبرا   |   بناء   المبنى   الثاني   "، يقع في   مركز منطقة   الأوبرا   ، بالقرب من   دار الأوبرا.   كانت   مستوحاة من   مبدع   نافورة دبي   .......   وبالإضافة إلى ذلك،   مع   ديناميات   بناء   واجهة   مواجهة   المباني الأكثر شهرة في العالم   -   برج   خليفة   -   .......</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_centre4.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">شفرة   القصر</a><br>
        <a class="xiangmu_div_2_1_a2">Forte</a><br>
        <a class="xiangmu_div_2_1_a3">من   الطراز العالمي   Nikken   Sekkei   تصميم   معماري   ، وتقع في   دبي   أحدث   مركز   الثقافة   في المنطقة   .   هذه   الحياة   مشروع   شامل   يوفر   نمط الحياة   غير مسبوقة   ، والتعبير الكامل عن   الحياة   في دبي   ،   أوبرا،   أوبرا   ساحة   العروض الرائعة و   الساحرة   النافورة الموسيقية في دبي   لمحة.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
      <h2> الاتصال بنا </h2>
      <h2>الهاتف：400-000-0000</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-top: 0px;">
      <a style="font-size:24px">المعلومات <br>ونحن سوف   البريد الإلكتروني   لك Emaar بانتظام   إرسال   الأخبار</a>
    </div>
  </div>
  <div class="col-md-12">
    <div style="width: 584px;margin-right: auto;margin-left: auto;">

      <input id="lianxi_xingming_input" class="form-control index_input" placeholder="الاسم" type="text" name="" value="">
      <input id="lianxi_xingming_email" class="form-control index_input" placeholder="صندوق البريد" type="text" name="" value="">
      <div class="input-group" style="margin-bottom:21px">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 130px;border-color: #333;">
            رمز البلد <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- /btn-group -->
        <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="الهاتف"  aria-label="...">
      </div>
     <button type="button" class="btn btn-default index_bu">تقديم</button>
      <!-- /input-group -->
    </div>
    <!-- /input-group -->
  </div>
  <div class="col-md-12">
    <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
      <a style="font-size:24px">القلق   لدينا</a>
    </div>
  </div>
  <div class="col-md-12 padding0" style="    text-align: center;">
    <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
  </div>


{include file="public/ar/ar_foot" /}
