{include file="public/en/en_header" /}
{include file="public/en/en_head" /}
{include file="public/en/en_huge_screen2" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2  >Central dubai</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a3">
      The central district of dubai, the flagship large development of Emaar Properties, is known as the "center of The Times", with the Burj Khalifa, the tallest building in the world. < br >
Other must-see attractions in central Dubai include the world's largest shopping and entertainment destination, the Dubai Mall, and the world's tallest performing fountain, the music. Souk Al Bahar, Scotland, is an arab-style shopping and dining centre, adding to the region's allure. < br >
The opera area is a new complex of luxury hotels and homes, with a 2, 000-seat complex, most notably the majestic dubai opera house. < br >
As a booming city center, downtown dubai has a unique blend of residential buildings and business districts. Residential buildings and apartments are among the top choices for real estate investment and residence. < br >
Community projects include central view phase ii, Vida dubai shopping center, | opera house building area 1, opera house building area 2 and blade's edge building.
    </a>
  </div>
  <div class="col-md-12 padding0" style="padding-top:75px">
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_centre1.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">Downtown Views Ⅱ</a><br>
        <a class="xiangmu_div_2_1_a3">A unique residential building, located 9 floors above the shopping expansion area of dubai, is located in the central district of dubai, directly leading to the shopping center of dubai.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom" style="    width: 217px;">Inquiry and consultation</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_centre2.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">Vida Dubai Mall</a><br>
        <a class="xiangmu_div_2_1_a3">Property services and a reputation as a brand are features of the apartment, which offers panoramic views of the burj khalifa tower and dubai music fountain, leading directly to the dubai shopping center.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom" style="    width: 217px;">Inquiry and consultation</button>
      </div>
    </div>

    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_centre3.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">Act One | Act Two</a><br>
        <a class="xiangmu_div_2_1_a3">Act One | Act Two, the unique residential building, is located in the center of the opera district and adjacent to the opera house. Their design was inspired by the iconic dubai fountain. In addition, the building has a dynamic facade that faces the world's most famous building, the burj khalifa.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom" style="    width: 217px;">Inquiry and consultation</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_centre4.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">Forte</a><br>
        <a class="xiangmu_div_2_1_a3">Designed by world-class architect Nikken Sekkei, it is located in the heart of dubai's newest cultural district. This residential and living complex project provides an unprecedented way of life and fully expresses the concept of enjoying life. The wonderful performance of dubai opera house and opera square and the charming music fountain in dubai are all in sight.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom" style="    width: 217px;">Inquiry and consultation</button>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
      <h2>Contact us</h2>
      <h2>Contact number: 400-000-0000</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-top: 0px;">
      <a style="font-size:24px">Enquiries and information <br>We will send you imar news and information by mail regularly</a>
    </div>
  </div>
  <div class="col-md-12">
    <div style="width: 584px;margin-right: auto;margin-left: auto;">

      <input id="lianxi_xingming_input" class="form-control index_input" placeholder="name" type="text" name="" value="">
      <input id="lianxi_xingming_email" class="form-control index_input" placeholder="email" type="text" name="" value="">
      <div class="input-group" style="margin-bottom:21px">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 150px;border-color: #333;">
            Country code <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- /btn-group -->
        <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="Contact phone number"  aria-label="...">
      </div>
     <button type="button" class="btn btn-default index_bu">submit</button>
      <!-- /input-group -->
    </div>
    <!-- /input-group -->
  </div>
  <div class="col-md-12">
    <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
      <a style="font-size:24px">Pay attention to our</a>
    </div>
  </div>
  <div class="col-md-12 padding0" style="    text-align: center;">
    <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
  </div>


{include file="public/en/en_foot" /}
