{include file="public/cn/cn_header" /} {include file="public/cn/cn_head" /}
{include file="public/cn/cn_huge_screen2" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2  >迪拜中心区</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a3">
      迪拜市中心区是伊玛尔地产(Emaar Properties)的旗舰大型开发项目，被称为“时代的中心”，位于其中心的是世界上最高的建筑物哈利法塔（Burj Khalifa）。<br>
迪拜市中心区必看热门景点中，还包括世界上最大的购物和娱乐目的地迪拜购物中心（Dubai Mall），以及世界上最高的表演喷泉——迪拜音乐喷泉。苏格兰巴哈尔（Souk Al Bahar）则是一个阿拉伯风格的购物和餐饮中心，进一步增添了这一区域的魅力。<br>
歌剧区中则是聚集豪华酒店和住宅的一个全新建筑群，拥有一个可容纳2000人的综合活动场地，其中最引人注目的是庄严的迪拜歌剧院。<br>
作为一个正在蓬勃发展的城市中心，迪拜市中心区对住宅楼和商业区的融合设计美学独树一格，无论房地产投资或是居住，这里的住宅楼和公寓都是顶级之选。<br>
社区项目包括观景市中心二期，维达迪拜购物中心，歌剧院大厦一区 | 歌剧院大厦二区 和刀锋大厦。
    </a>
  </div>
  <div class="col-md-12 padding0" style="padding-top:75px">
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_centre1.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">观景市中心二期</a><br>
        <a class="xiangmu_div_2_1_a2">Downtown Views Ⅱ</a><br>
        <a class="xiangmu_div_2_1_a3">一处独特的住宅楼，位于迪拜购物中心扩建区域9层高台之上，坐观迪拜市中心区，直通迪拜购物中心。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_centre2.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">维达迪拜购物中心</a><br>
        <a class="xiangmu_div_2_1_a2">Vida Dubai Mall</a><br>
        <a class="xiangmu_div_2_1_a3">物业服务和品牌声誉是公寓的特色，在这里可以全景欣赏哈利法塔和迪拜音乐喷泉，直通迪拜购物中心。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>

    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_centre3.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">歌剧院大厦一栋 | 歌剧院大厦二栋</a><br>
        <a class="xiangmu_div_2_1_a2">Act One | Act Two</a><br>
        <a class="xiangmu_div_2_1_a3">独特的住宅大厦“歌剧院大厦一栋 | 歌剧院大厦二栋”，位于歌剧区的中心，紧邻歌剧院。他们的设计灵感来自于标志性的迪拜喷泉。除此之外，大厦拥有动力学的立面，直面世界上最著名的建筑——哈利法塔。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_centre4.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">刀锋大厦</a><br>
        <a class="xiangmu_div_2_1_a2">Forte</a><br>
        <a class="xiangmu_div_2_1_a3">由世界级建筑家Nikken Sekkei设计，坐落于迪拜最新的文化区中心。这一居住和生活的综合型项目提供了一种前所未有的生活方式，充分表达享受生活的理念，迪拜歌剧院、歌剧院广场的精彩演出和魅力无穷的迪拜音乐喷泉一览无余。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
  </div>
   
  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
      <h2>联系我们</h2>
      <h2>联系电话：400-000-0000</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-top: 0px;">
      <a style="font-size:24px">垂询与资讯 <br>我们将以邮件的形式定期为您发送伊玛尔新闻资讯</a>
    </div>
  </div>
  <div class="col-md-12">
    <div style="width: 584px;margin-right: auto;margin-left: auto;">

      <input id="lianxi_xingming_input" class="form-control index_input" placeholder="姓名" type="text" name="" value="">
      <input id="lianxi_xingming_email" class="form-control index_input" placeholder="邮箱" type="text" name="" value="">
      <div class="input-group" style="margin-bottom:21px">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 130px;border-color: #333;">
            国家代码 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- /btn-group -->
        <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="联系电话"  aria-label="...">
      </div>
     <button type="button" class="btn btn-default index_bu">提交</button>
      <!-- /input-group -->
    </div>
    <!-- /input-group -->
  </div>
  <div class="col-md-12">
    <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
      <a style="font-size:24px">关注我们</a>
    </div>
  </div>
  <div class="col-md-12 padding0" style="    text-align: center;">
    <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
  </div>


{include file="public/cn/cn_foot" /}
