{include file="public/cn/cn_header" /}
<link type="text/css" href="/static/www/css/carousel.css" rel="stylesheet">
<link type="text/css" href="/static/www/css/yu.css" rel="stylesheet">
</head>
<body class="background_pic_zuo1">
<div class="div_logo">
    <img class="img_logo" src="__STATIC__/www/img/logo.png">
</div>

<!--<div class="div_language">-->
    <!--<select class="select_language">-->
        <!--<option value="1">English</option>-->
    <!--</select>-->
<!--</div>-->

<!--<div>-->
    <!--<ul>-->
        <!--<li>简体中文</li>-->
    <!--</ul>-->
<!--</div>-->
<div id="div_menu_list_head">
    <div id="div_menu" class="div_menu">
        <img class="img_menu" src="__STATIC__/www/img/menu.png">
    </div>

    <div id="div_menu_list" class="div_menu_list">
        <ul>
            <li><a href="/cn/ibk">关于我们</a></li>
            <li><a href="/cn/emaar">迪拜房产</a></li>
            <li><a href="/cn/investment_advantage_cn">迪拜资讯</a></li>
            <li><a href="/cn/contentus">联系我们</a></li>
        </ul>
    </div>
</div>


<div class="div_zuo">
    <div id="div_zuo1" class="div_zuo1_small">
        <img class="img_zuo1_small" src="__STATIC__/www/img/left1_small.png">
    </div>

    <div id="div_zuo2" class="div_zuo2_small">
        <img class="img_zuo2_small" src="__STATIC__/www/img/left2_small.png">
    </div>

    <div id="div_zuo3" class="div_zuo3_large">
        <img class="img_zuo3_small" src="__STATIC__/www/img/left3_large.png">
    </div>

    <div id="div_zuo4" class="div_zuo4_small">
        <img class="img_zuo4_small" src="__STATIC__/www/img/left4_small.png">
    </div>

    <div id="div_zuo5" class="div_zuo5_small">
        <img class="img_zuo5_small" src="__STATIC__/www/img/left5_small.png">
    </div>
</div>

<div class="text_zuo">
    <div id="text_zuo1" class="text_zuo1">
        <span>IBKFO家族办公室介绍</span>
    </div>
    <div id="text_zuo2" class="text_zuo2">
        <span>迪拜最新资讯</span>
    </div>
    <div id="text_zuo3" class="text_zuo3">
        <span>EMAAR房产介绍</span>
    </div>
    <div id="text_zuo4" class="text_zuo4">
        <span>DP房产介绍</span>
    </div>
    <div id="text_zuo5" class="text_zuo5">
        <span>ELLINGTON艾灵顿房产介绍</span>
    </div>
</div>

<div id="div_zuo_xian" class="div_zuo_xian">
    <img class="img_zuo_xian" src="__STATIC__/www/img/zuoxian.png">
</div>

<div id="jie_shao" class="jie_shao">
    <div class="jie_shao_tile">
        <span id="span_jie_shao">EMAAR房产介绍</span>
    </div>
    <div id="jie_shao_content" class="jie_shao_content">
        <span>EMAAR是迪拜一个规模宏大、高端奢华的景点，作为一个娱乐中心，迪拜乐园拥有的主题公园数量居世界之最，
            此外还有诸多体育场馆、零售商城和娱乐区，酒店和高端封闭社会......</span>
    </div>
</div>

<div id="div_jian_tou" class="div_jian_tou">
    <a id="a_jian_tou" href="/cn/emaar">
        <img class="img_jian_tou" src="__STATIC__/www/img/jiantou.png">
    </a>
</div>

<div id="div_right_pic" class="div_right_pic">
    <a id="a_right_pic"><img id="img_right_pic" class="img_right_pic" src="__STATIC__/www/img/right1.png"></a>
</div>

<div class="div_qq">
    <a href="tencent://Message/?Uin=1723101543&amp;websiteName=q-zone.qq.com&amp;Menu=yes">
        <img class="img_qq" src="__STATIC__/www/img/QQ.png">
    </a>
</div>

<div class="we_chat">
    <div class="div_we_chat">
        <img id="img_we_chat" class="img_we_chat" src="__STATIC__/www/img/we_chat.png">
    </div>
    <div id="div_we_chat_brackgroup" class="div_we_chat_brackgroup">
        <img class="img_we_chat_brackgroup" src="__STATIC__/www/img/we_chat_brackgroup.png">
    </div>
</div>

<div>
    <div id="div_mail" class="div_mail">
        <img class="img_mail" src="__STATIC__/www/img/mail.png">
    </div>
    <div id="div_text_bg" class="div_text_bg">
        <div class="div_mail_bg">
            <img class="img_mail_bg" src="__STATIC__/www/img/mail_bg.png">
        </div>
        <div class="div_text">
            <span>support@ibkfo.cn</span>
        </div>
    </div>
</div>

<!--<div class="div_wai_quan">-->
    <!--<img class="img_wai_quan" src="__STATIC__/www/img/wai_quan.png">-->
<!--</div>-->
{include file="public/cn/cn_foot" /}