{include file="public/cn/cn_header" /}
{include file="public/cn/cn_head" /}
<link type="text/css" href="/static/www/css/ibk/ibk.css" rel="stylesheet">
<!--<div id="ibk_div_menu_text_bj" class="ibk_div_menu_text_bj">-->
    <!--<img class="ibk_img_menu_text_bj" src="__STATIC__/www/img/menu_text_short_bj.png">-->
<!--</div>-->
<div style="height: 50%">
    <div class="ibk_div_jie_shao">
        <img class="ibk_img_jie_shao" src="__STATIC__/www/img/ibk/ibk_jie_shao.png">
    </div>
    <div class="jie_shao_text">
    <span>
        移投行家族办公室坐落在上海陆家嘴上海中心大厦。移投行作为全球第一家超联合家族办公室，能迅速打通银行、信托公司、律所、
        会计师事务所、基金公司、证券公司、保险公司、期货公司、财务公司等领域经验丰富的专业人才，既能实现对传统家族办公室模式的
        精简与高效化，又能为中国富有家族量身定制财产与管理等方面的解决方案。

        目前汇集了来自国内外知名大学和研究机构的各类家族办公室专家，具有广博的专业知识、精湛的专业技能和丰富的实践经验，正围绕为
        国内高净值客户提供海内外优质服务的核心战略，开启全球化布局。我们立志做时代的引领者，培养未来5-10年的家族办公室专家，培养
        能全方面解决超高净值客户和富有家族资产管理问题的专家。
    </span>
    </div>
    <div class="ibk_right_pic_div">
        <img class="ibk_right_pic_img" src="__STATIC__/www/img/ibk/ibk_right_pic.png">
    </div>
</div>
{include file="public/cn/cn_foot_2" /}