{include file="public/cn/cn_header" /}
{include file="public/cn/cn_head" /}
<link type="text/css" href="/static/www/css/ibk/framework.css" rel="stylesheet">
<!--<div id="ibk_div_menu_text_bj" class="ibk_div_menu_text_bj">-->
    <!--<img class="ibk_img_menu_text_bj" src="__STATIC__/www/img/menu_text_short_bj.png">-->
<!--</div>-->
<div>
    <div class="news_title_div">
        <img class="news_title_img" src="__STATIC__/www/img/ibk/news_title.png">
    </div>
    <div class="news_framework_div">
        <img class="news_framework_img" src="__STATIC__/www/img/ibk/news_framework.png">
    </div>
    <div class="news_fen_bu_div">
        <img class="news_fen_bu_img" src="__STATIC__/www/img/ibk/news_fen_bu.png">
    </div>
    <div class="news_remark_div">
        <img class="news_remark_img" src="__STATIC__/www/img/ibk/remark.png">
    </div>
</div>
{include file="public/cn/cn_foot_2" /}