{include file="public/cn/cn_header" /}
{include file="public/cn/cn_head" /}
<link type="text/css" href="/static/www/css/ibk/member_list.css" rel="stylesheet">
<div class="container">
    <div class="row">
        <div class="col-md-12" style="height: 79px"></div>
        <div class="col-md-12">
            <img class="member_title_img" src="__STATIC__/www/img/ibk/member/title.png" style="width: 409px;height: 46px">
        </div>
        <div class="col-md-12" style="height: 70px"></div>
        <!--第一行-->
        <div class="col-md-1">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs member_menu" role="tablist">
                    <li role="presentation" class="active member_menu_text"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">管理层成员</a></li>
                    <li role="presentation" class="member_menu_text"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">中国区员工</a></li>
                    <li role="presentation" class="member_menu_text"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">迪拜员工</a></li>
                </ul>



                <!--<div role="tabpanel" class="tab-pane" id="profile">...</div>-->
                <!--<div role="tabpanel" class="tab-pane" id="messages">...</div>-->
        </div>
         <!-- Tab panes -->
        <div class="tab-content">
            <!--管理员成员-->
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="col-md-1"></div>
                <div class="col-md-4 member_background">
                    <!--member1-->
                    <div class="row">
                        <a href="/cn/member_info_cn">
                            <div class=" col-md-6">
                                <img class="member_head_portrait_img" src="__STATIC__/www/img/ibk/member_head_portrait.png">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5 margin-top-82" style="height: 100px">
                                <div class="right_title">
                                    <p>王怀涛律师</p>
                                </div>
                                <div class="right_content">
                                    <p>移投行家族办公室创始人</p>
                                    <p>上海新古律师事务所主任</p>
                                    <p>上海市律师协会并购重组研</p>
                                    <p>究委员会委员</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4 member_background">
                    <div class="row">
                        <!--member2-->
                        <div class=" col-md-6">
                            <img class="member_head_portrait_img" src="__STATIC__/www/img/ibk/member_head_portrait.png">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 margin-top-82" style="height: 100px">
                            <div class="right_title">
                                <p>王怀涛律师</p>
                            </div>
                            <div class="right_content">
                                <p>移投行家族办公室创始人</p>
                                <p>上海新古律师事务所主任</p>
                                <p>上海市律师协会并购重组研</p>
                                <p>究委员会委员</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="height:55px ;"></div>
                <!--第二行-->
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-4 member_background">
                    <!--member1-->
                    <div class="row">
                        <a href="/cn/member_info_cn">
                            <div class=" col-md-6">
                                <img class="member_head_portrait_img" src="__STATIC__/www/img/ibk/member_head_portrait.png">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5 margin-top-82" style="height: 100px">
                                <div class="right_title">
                                    <p>王怀涛律师</p>
                                </div>
                                <div class="right_content">
                                    <p>移投行家族办公室创始人</p>
                                    <p>上海新古律师事务所主任</p>
                                    <p>上海市律师协会并购重组研</p>
                                    <p>究委员会委员</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4 member_background">
                    <div class="row">
                        <!--member2-->
                        <div class=" col-md-6">
                            <img class="member_head_portrait_img" src="__STATIC__/www/img/ibk/member_head_portrait.png">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 margin-top-82" style="height: 100px">
                            <div class="right_title">
                                <p>王怀涛律师</p>
                            </div>
                            <div class="right_content">
                                <p>移投行家族办公室创始人</p>
                                <p>上海新古律师事务所主任</p>
                                <p>上海市律师协会并购重组研</p>
                                <p>究委员会委员</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--中国区员工-->
            <div role="tabpanel" class="tab-pane" id="profile">
                <div class="col-md-1"></div>
                <div class="col-md-4 member_background-445">
                    <!--member1-->
                    <div class="row">
                        <div class="col-md-12 height-31"></div>
                        <div class="col-md-1"></div>
                        <a href="/cn/member_info_cn">
                            <div class=" col-md-5">
                                <img class="pic-height-272" src="__STATIC__/www/img/ibk/member/left1.png">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5 margin-top-82">
                                <img class="pic-height-166" src="__STATIC__/www/img/ibk/member/left1_ma.png">
                            </div>
                            <div class="col-md-12 height-19"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <span class="margin-left-30 text-20">严庆</span><span class="margin-left-10 text-20">客户经理</span>
                            </div>
                            <div class="col-md-12 height-19"></div>
                            <div class="col-md-12">
                                <p class="margin-left-30 text-14">律师式的专业咨询，剖析市场行情，让您的投资物超所值，解决您在购房过程中的任何问题！</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4 member_background-445">
                    <!--member1-->
                    <div class="row">
                        <div class="col-md-12 height-31"></div>
                        <div class="col-md-1"></div>
                        <a href="/cn/member_info_cn">
                            <div class=" col-md-5">
                                <img class="pic-height-272" src="__STATIC__/www/img/ibk/member/left2.png">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5 margin-top-82">
                                <img class="pic-height-166" src="__STATIC__/www/img/ibk/member/left2_ma.png">
                            </div>
                            <div class="col-md-12 height-19"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <span class="margin-left-30 text-20">彭程</span><span class="margin-left-10 text-20">客户经理</span>
                            </div>
                            <div class="col-md-12 height-19"></div>
                            <div class="col-md-12">
                                <p class="margin-left-30 text-14">究迪拜房产，坚持客户的利益就是我的利益，让客户省心、放心</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-12" style="height:55px ;"></div>
                <!--第二行-->
                <div class="col-md-2"></div>
                <div class="col-md-4 member_background-445">
                    <!--member1-->
                    <div class="row">
                        <div class="col-md-12 height-31"></div>
                        <div class="col-md-1"></div>
                        <a href="/cn/member_info_cn">
                            <div class=" col-md-5">
                                <img class="pic-height-272" src="__STATIC__/www/img/ibk/member/left3.png">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5 margin-top-82">
                                <img class="pic-height-166" src="__STATIC__/www/img/ibk/member/left3_ma.png">
                            </div>
                            <div class="col-md-12 height-19"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <span class="margin-left-30 text-20">李心怡</span><span class="margin-left-10 text-20">客户经理</span>
                            </div>
                            <div class="col-md-12 height-19"></div>
                            <div class="col-md-12">
                                <p class="margin-left-30 text-14">让我用专业的知识和经验帮助你买到最适合你居住的房子，让你的投资物超所值。专业研究迪拜房产，坚持客户的利益就是我的利益，让客户省心放心是我的工作使命。</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4 member_background-445">
                    <!--member1-->
                    <div class="row">
                        <div class="col-md-12 height-31"></div>
                        <div class="col-md-1"></div>
                        <a href="/cn/member_info_cn">
                            <div class=" col-md-5">
                                <img class="pic-height-272" src="__STATIC__/www/img/ibk/member/left4.png">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5 margin-top-82">
                                <img class="pic-height-166" src="__STATIC__/www/img/ibk/member/left4_ma.png">
                            </div>
                            <div class="col-md-12 height-19"></div>
                            <div class="col-md-1"></div>
                            <div class="col-md-11">
                                <span class="margin-left-30 text-20">章晋</span><span class="margin-left-10 text-20">客户经理</span>
                            </div>
                            <div class="col-md-12 height-19"></div>
                            <div class="col-md-12">
                                <p class="margin-left-30 text-14">丰富的海外置业经验，熟悉迪拜与全球各国房产的优劣势，为您提供财务规划，理性投资。</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-12" style="height:55px ;"></div>
            </div>
            <!--迪拜员工-->
            <div role="tabpanel" class="tab-pane" id="messages">
                <div class="col-md-1"></div>
                <div class="col-md-4 member_background">
                    <!--member1-->
                    <div class="row">
                        <a href="/cn/member_info_cn">
                            <div class=" col-md-6">
                                <img class="member_head_portrait_img" src="__STATIC__/www/img/ibk/member_head_portrait.png">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5 margin-top-82" style="height: 100px">
                                <div class="right_title">
                                    <p>王怀涛律师</p>
                                </div>
                                <div class="right_content">
                                    <p>移投行家族办公室创始人</p>
                                    <p>上海新古律师事务所主任</p>
                                    <p>上海市律师协会并购重组研</p>
                                    <p>究委员会委员</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4 member_background">
                    <div class="row">
                        <!--member2-->
                        <div class=" col-md-6">
                            <img class="member_head_portrait_img" src="__STATIC__/www/img/ibk/member_head_portrait.png">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 margin-top-82" style="height: 100px">
                            <div class="right_title">
                                <p>王怀涛律师</p>
                            </div>
                            <div class="right_content">
                                <p>移投行家族办公室创始人</p>
                                <p>上海新古律师事务所主任</p>
                                <p>上海市律师协会并购重组研</p>
                                <p>究委员会委员</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="height:55px ;"></div>
                <!--第二行-->
                <div class="col-md-1"></div>
                <div class="col-md-1"></div>
                <div class="col-md-4 member_background">
                    <!--member1-->
                    <div class="row">
                        <a href="/cn/member_info_cn">
                            <div class=" col-md-6">
                                <img class="member_head_portrait_img" src="__STATIC__/www/img/ibk/member_head_portrait.png">
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-5 margin-top-82" style="height: 100px">
                                <div class="right_title">
                                    <p>王怀涛律师</p>
                                </div>
                                <div class="right_content">
                                    <p>移投行家族办公室创始人</p>
                                    <p>上海新古律师事务所主任</p>
                                    <p>上海市律师协会并购重组研</p>
                                    <p>究委员会委员</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-4 member_background">
                    <div class="row">
                        <!--member2-->
                        <div class=" col-md-6">
                            <img class="member_head_portrait_img" src="__STATIC__/www/img/ibk/member_head_portrait.png">
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 margin-top-82" style="height: 100px">
                            <div class="right_title">
                                <p>王怀涛律师</p>
                            </div>
                            <div class="right_content">
                                <p>移投行家族办公室创始人</p>
                                <p>上海新古律师事务所主任</p>
                                <p>上海市律师协会并购重组研</p>
                                <p>究委员会委员</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="public/cn/cn_foot_2" /}