{include file="public/cn/cn_header" /}
{include file="public/cn/cn_head" /}
<link type="text/css" href="/static/www/css/ibk/member_info.css" rel="stylesheet">
<!--<div id="ibk_div_menu_text_bj" class="ibk_div_menu_text_bj">-->
    <!--<img class="ibk_img_menu_text_bj" src="__STATIC__/www/img/menu_text_short_bj.png">-->
<!--</div>-->
<div>
    <div class="member_title_div">
        <img class="member_title_img" src="__STATIC__/www/img/ibk/member_title.png">
    </div>
    <div class="member_head_portrait_div">
        <img class="member_head_portrait_img" src="__STATIC__/www/img/ibk/member_head_portrait.png">
    </div>
    <div class="right_text">
        <div class="right_title">
            <p>王怀涛律师</p>
        </div>
        <div class="right_content">
            <p>移投行家族办公室创始人</p>
            <p>上海新古律师事务所主任</p>
            <p>上海市律师协会并购重组研究委员会委员</p>
        </div>
    </div>
    <div class="content_bj">
        <div class="content_text">
            <span>
擅长家族财富保护、身份规划、家族信托、CRS方案规划、跨境并购、债务重组、各类金融产品相关的法律服务，目前担任上百家境内外私募基金、
                三方理财等金融机构法律顾问，为国内广大富有家族提供财产保护和传承服务。

曾在离岸金融峰会、信泽金商学院、广发私募商学院、南华期货、梧桐树下、英策律师行等发表演讲、授课，并多次亲自组织论坛、峰会，内容涉及CRS、
                身份规划、离岸架构、资管新规等实务操作。

曾应邀与圣基茨总统、马耳他驻华大使、塞舌尔、伯利兹、BVI等官方代表交流离岸金融法律事务。

经常接受财经媒体（中国经营报、每日经济新闻、21世纪经济报道、澎湃财经、中国贸易报等）采访，就当前经济领域重大事件发表法律观点，在法律、
                金融、财富管理领域积累了较为丰富的从业经验。

部分客户：期货日报、联投资本、弘坤基金、滚石投资、熙邦资产、顽岩资产、图贝投资、泰亚投资、雷翎投资、吉睿投资、锦象资产、井富投资、
                新宇投资、垚能资产、昂东资产、则石投资、永投基金、怡和通基金、玉世基金、重源投资、信淦资产、辰翔投资、宝时投资、
                棣桦投资、光夏投资、桦冠投资、华盛投资、慧吟投资、鼎福祥、飝犇投资、承运钦点、红锚投资、睿神投资、世翱投资、
                中金伟业投资、华沃投资、华为投资、与取投资、网卓投资、潜旭投资、新川基金、秦韬投资、芝流投资、保利丰投资、
                任飞资本、东塔投资、财路基金、雷拓基金、德威投资、闳理投资、椿韵投资、秉弈资产、金鑫奥投资、曲成投资、川砺资产、
                矛盾投资、弘源投资、鑫元汇基金、宁曜投资、佳凯资产、仙人掌资产、沃霖资产、立章资本、裕图资产、永联聚鑫资产、
                恒川资产、百利来国际集团、森茂汽车城、中城银信集团等上百家基金公司、投资公司、金融机构。

            </span>
        </div>
    </div>
    <div class="page">
        <div class="top_piece">
            <span>上一篇：王怀涛律师</span>
        </div>
        <div class="bottom_piece">
            <span>下一篇：房树威律师</span>
        </div>
    </div>
</div>
{include file="public/cn/cn_foot_2" /}