{include file="public/ar/ar_header" /}
{include file="public/ar/ar_head" /}
{include file="public/ar/ar_huge_screen5" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2  >دبي   فيلا</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a3">
      أما   حياة المجتمعات   الراقية   ،   فيلا   في دبي   (   دبي   هيلز   Estate   )   من   العقارات   التي   Meraas   Holding   التنمية المشتركة   مترو   في المدينة   .<br>
      فيلا   في دبي   (   دبي   هيلز   Estate   )   في   إنشاء   أكثر من 11   مليون متر مربع من   الأراضي ذات الجودة العالية   ،   لديها مجموعة واسعة من   المناظر الطبيعية   والحدائق   ،   لف      واسعة في   المناطق العامة   .   تعتبر مدينة   مركز   النهضة   فيلا   ،   دبي   (   دبي   هيلز   Estate   )   كتلة تصميم   أنيقة جدا   ،   حول   ملعب للجولف   من 18 حفرة   .   <   ر >
       هذا التحديث في   دبي   فيلا   المجتمع   ، وتوفير العملاء مع   تصميم منطقتنا   السكنية الفاخرة   فرصة.<br>
فيلا   في دبي   (   دبي   هيلز   Estate   )   مع   معلم واحد   من المراكز التجارية   الراقية   التجزئة مركز   ،   مع   انخفاض طبقة   وسطى   السكن   الفنادق و   الشقق الفندقية   خدمة   .......   لجعل   الحياة أكثر   راحة   المستأجرين   ،   ونحن نقدم أيضا   المؤسسات التعليمية   والمراكز الطبية   و   المسجد.<br>
وتشمل المشاريع   المجتمعية   فيلا   فيلا   في مرتفعات   جنتنج   ،   المرحلة الثانية   ،   الأكاسيا   ثلاث مناطق   منطقة   القيقب   ،     وان   ثلاث مناطق<br>
    </a>
  </div>
  <div class="col-md-12 padding0" style="padding-top:75px">
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa1.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">بيك   ريدج</a><br>
        <a class="xiangmu_div_2_1_a2">Park Ridge</a><br>
        <a class="xiangmu_div_2_1_a3">بيك   ريدج   دبي   فيلا   بالقرب من   مركز التسوق   ،   العمران و   البيئة الطبيعية   مزيج   مثالي   .   في   بارك   ريدج   القريبة من السكان   يمكن أن   نزهة في   وسط حديقة   جميلة   للتمتع   في الهواء الطلق،   يمكن أيضا   استكشاف   شارع   المطاعم و   محلات   متنوعة   .   وتشمل الخيارات   شقة   1   ،   2 و 3   غرف نوم شقة   .</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa2.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">مرتفعات   جنتنج</a><br>
        <a class="xiangmu_div_2_1_a2">Park Point</a><br>
        <a class="xiangmu_div_2_1_a3">فيلا   في دبي   (   دبي   هيلز     الهدوء   في الأراضي المقدسة،   مع   أنيقة   و   ممتازة   السكنية   والمرافق هي   دبي   واحدة من   أقدم   المشاريع الجديدة   .   مبنى سكني   يوفر   1   إلى   شقة 3 غرف   مع شرفة   مزدوجة   شقة.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>

    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa3.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">فيلا   في المرحلة الثانية من   المرتفعات</a><br>
        <a class="xiangmu_div_2_1_a2">Park Heights Ⅱ</a><br>
        <a class="xiangmu_div_2_1_a3">المسافة من   دبي   مول   سنترال بارك   ،   فيلا   و   طرق المرور الرئيسية في   دقائق فقط   ، تطل على   الحديقة   الخلابة   ،   من الطراز العالمي مع   المرافق العامة،   هنا هو   حلم   الإقامة.   مبنى سكني   يوفر   1   إلى   شقة 3 غرف   مع شرفة   .</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa4.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">منطقة   أكاسيا</a><br>
        <a class="xiangmu_div_2_1_a2">Acacia</a><br>
        <a class="xiangmu_div_2_1_a3">أكاسيا   حي   الراقي هو   واحد من   المباني السكنية   في   البحيرة   تطل على   وسط المدينة   دبي   منطقة   ذات المناظر الخلابة.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa5.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">القيقب   ثلاث مناطق</a><br>
        <a class="xiangmu_div_2_1_a2">Maple 3</a><br>
        <a class="xiangmu_div_2_1_a3">القيقب   ثلاث مناطق   في دبي   فيلا   الغربية، هو   واحد   على طول   الممرات   الخضراء المورقة   التكامل   شبكة   تصميم فريد   من 2 إلى   4 وحدات   فيلا   تقدم   المجتمع   ،   3 غرف   ،   4 غرف   و   5 غرف   الشقة.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa6.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">وان   ثلاث مناطق</a><br>
        <a class="xiangmu_div_2_1_a2">Sidra 3</a><br>
        <a class="xiangmu_div_2_1_a3">في دبي   فيلا   نمط   اللوحة   الخضراء المورقة   ،      وان   ثلاث مناطق   عرض   الناس   التمتع   الحياة المعاصرة   تصميم   الحصري   فيلا.   أي شيء كنت   قد تحتاج   أو   تريد   أفضل   من نمط الحياة   في هذه   المجتمعات   ذات المناظر الخلابة   ،   سانجو   ، أربعة   ، خمسة   لتحتل   المرتبة   فيلا   المتاحة.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
      </div>
    </div>
    <div class="xiangmu_div_4" style="">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa7.png" alt="" style="    width: 48%;float:left">
      <div class="" style="float: left;width: 48%;">
        <div class="xiangmu_div_2_1">
          <a class="xiangmu_div_2_1_a1">فيلا   الألوة</a><br>
          <a class="xiangmu_div_2_1_a2">Club Villas</a><br>
          <a class="xiangmu_div_2_1_a3">دبي   فيلا   مشروع فيلا   مع   النادي   على مستوى   بطولة   18 حفرة للغولف   ، سلس   فريدة من   المزايا الطبيعية   يجعل   مدينة   دبي   أغلى من   المجتمع   -   مترف خضرة   بين   مرافق   رائعة   ، وهنا   أفضل   نادي   و ملاعب الغولف   ، وهناك   مجموعة متنوعة من   المطاعم   و   محلات البيع بالتجزئة   بو   ، يدل على   ترف   غير عادية   من التسامح</a>
        </div>
        <div class="xiangmu_div_2_3">
          <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">استشارات</button>
        </div>
      </div>

    </div>
  </div>

    <div class="col-md-12">
      <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
        <h2>الاتصال بنا</h2>
        <h2>الهاتف：400-000-0000</h2>
      </div>
    </div>
    <div class="col-md-12">
      <div class="index_lianxi_titile1" style="padding-top: 0px;">
        <a style="font-size:24px">المعلومات<br>ونحن سوف   البريد الإلكتروني   لك   伊玛尔   بانتظام   إرسال   الأخبار</a>
      </div>
    </div>
    <div class="col-md-12">
      <div style="width: 584px;margin-right: auto;margin-left: auto;">

        <input id="lianxi_xingming_input" class="form-control index_input" placeholder="الاسم" type="text" name="" value="">
        <input id="lianxi_xingming_email" class="form-control index_input" placeholder="صندوق البريد" type="text" name="" value="">
        <div class="input-group" style="margin-bottom:21px">
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 130px;border-color: #333;">
              رمز البلد <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </div>
          <!-- /btn-group -->
          <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="الهاتف"  aria-label="...">
        </div>
       <button type="button" class="btn btn-default index_bu">تقديم</button>
        <!-- /input-group -->
      </div>
      <!-- /input-group -->
    </div>
    <div class="col-md-12">
      <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
        <a style="font-size:24px">القلق   لدينا</a>
      </div>
    </div>
    <div class="col-md-12 padding0" style="    text-align: center;">
      <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
    </div>


{include file="public/ar/ar_foot" /}
