{include file="public/en/en_header" /}
{include file="public/en/en_head" /}
{include file="public/en/en_huge_screen5" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2>emaar mountain villa</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a3">
      As a high-end living community, Dubai Hills Estate is a new city in the city jointly developed by emaar properties and Meraas Holding. < br >
Built on more than 11m square metres of prime land, the Dubai Hills Estate has extensive landscaping and gardens, winding sidewalks and vast public Spaces. The neighborhood of Dubai Hills Estate, a revitalized center of the city, is elegantly designed to surround an 18-hole tournament golf course. < br >
This modern dubai villa villa community offers customers the opportunity to design their own luxury homes. < br >
The Dubai Hills Estate will have a landmark commercial center, high-end retail center, as well as low-rise and mid-rise residential, hotel and serviced hotel apartments. To make life more convenient for the residents, we also provide education institutions, medical centers and mosques. < br >
Community projects include yunding mountain villa, yunding mountain villa, jinhehuan district, fengmu district and sidra bay district <br>
    </a>
  </div>
  <div class="col-md-12 padding0" style="padding-top:75px">
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa1.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">Park Ridge</a><br>
        <a class="xiangmu_div_2_1_a3">The park ridge is adjacent to the shopping center of the dubai heights and perfectly integrates urban life and natural environment. People can stroll around park ridge for outdoor activities in the beautiful central park, or explore the variety of restaurants and shops on the boulevard. Options include 1,2 and 3 - bedroom apartments.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa2.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">Park Point</a><br>
        <a class="xiangmu_div_2_1_a3">Located in the quiet mecca of Dubai Hills Estate, with elegant homes and excellent amenities, it is one of Dubai's premier new projects. Apartment buildings offer 1 - to 3-bedroom apartments with balconies and double - level apartments.</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>

    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa3.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">山庄高地二期</a><br>
        <a class="xiangmu_div_2_1_a2">Park Heights Ⅱ</a><br>
        <a class="xiangmu_div_2_1_a3">距离中央公园，迪拜山庄购物中心和交通主干道仅几分钟路程，可俯瞰如画的公园，并拥有世界级的公共设施，这里是一个梦想中的居住地。住宅楼提供1到3室公寓带阳台。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa4.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">金合欢区</a><br>
        <a class="xiangmu_div_2_1_a2">Acacia</a><br>
        <a class="xiangmu_div_2_1_a3">金合欢区是一个高档的单身公寓楼群，位于湖边，可俯瞰迪拜市中心区的风景线。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa5.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">枫木三区</a><br>
        <a class="xiangmu_div_2_1_a2">Maple 3</a><br>
        <a class="xiangmu_div_2_1_a3">枫木三区位于迪拜山庄西部，是一个沿着茂密的绿色走廊一体化网状设计的独特2到4单元联排别墅社区，提供3室，4室和5室公寓。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa6.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">锡德拉湾三区</a><br>
        <a class="xiangmu_div_2_1_a2">Sidra 3</a><br>
        <a class="xiangmu_div_2_1_a3">在迪拜山庄郁郁葱葱的绿色风情画中，锡德拉湾三区展示了为享受当代生活的人们设计的独家别墅。任何你可能需要或想要的最好的生活方式，都在这一风景如画的社区，有三居、四居、五居别墅可供选择。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_4" style="">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa7.png" alt="" style="    width: 48%;float:left">
      <div class="" style="float: left;width: 48%;">
        <div class="xiangmu_div_2_1">
          <a class="xiangmu_div_2_1_a1">别墅荟</a><br>
          <a class="xiangmu_div_2_1_a2">Club Villas</a><br>
          <a class="xiangmu_div_2_1_a3">迪拜山庄的会所别墅项目与锦标赛级别的18洞高尔夫球场浑然一体，得天独厚的天然优势造就迪拜城最奢华社区 . 葱郁茂盛的草木之间，是富丽堂皇的配套设施，这里有最顶级的会所和高尔夫球场，还有丰富多样的餐饮和零售店铺，彰显豪华生活的不凡气度</a>
        </div>
        <div class="xiangmu_div_2_3">
          <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
      <h2>Contact us</h2>
      <h2>Contact number: 400-000-0000</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-top: 0px;">
      <a style="font-size:24px">Enquiries and information <br>We will send you imar news and information by mail regularly</a>
    </div>
  </div>
  <div class="col-md-12">
    <div style="width: 584px;margin-right: auto;margin-left: auto;">

      <input id="lianxi_xingming_input" class="form-control index_input" placeholder="name" type="text" name="" value="">
      <input id="lianxi_xingming_email" class="form-control index_input" placeholder="email" type="text" name="" value="">
      <div class="input-group" style="margin-bottom:21px">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 150px;border-color: #333;">
            Country code <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- /btn-group -->
        <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="Contact phone number"  aria-label="...">
      </div>
     <button type="button" class="btn btn-default index_bu">submit</button>
      <!-- /input-group -->
    </div>
    <!-- /input-group -->
  </div>
  <div class="col-md-12">
    <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
      <a style="font-size:24px">Pay attention to our</a>
    </div>
  </div>
  <div class="col-md-12 padding0" style="    text-align: center;">
    <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
  </div>



{include file="public/en/en_foot" /}
