{include file="public/cn/cn_header" /} {include file="public/cn/cn_head" /}
{include file="public/cn/cn_huge_screen5" /}
<div class="">
  <div class="index_guanyu_titile">
    <br>
    <h2  >迪拜山庄</h2>
    <br>
  </div>
  <div class="col-md-12 xiangmu_div_1" style="width: 937px;">
    <a class="xiangmu_a3">
      作为高端的生活社区，迪拜山庄（Dubai Hills Estate）是由伊玛尔地产和Meraas Holding所联合开发的城中新城。<br>
迪拜山庄（Dubai Hills Estate）建立在超过1100万平方米的优质土地上，拥有广泛的园林景观和花园，蜿蜒的人行道和广阔的公共区。作为城市中心的一个复兴之地，迪拜山庄（Dubai Hills Estate）的街区设计十分优雅，环绕一个18洞的锦标赛高尔夫球场。<br>
这一现代化的迪拜山庄别墅社区，为客户提供设计自己豪华住宅的机会。<br>
迪拜山庄（Dubai Hills Estate）将设有一个地标性的商业中心，高端零售中心，以及低层和中层住宅，酒店和服务式酒店公寓。为了让住户的生活更加便利，我们还提供了教育机构，医疗中心和清真寺。<br>
社区项目包括山庄云顶，山庄高地二期，金合欢区，枫木三区，锡德拉湾三区<br>
    </a>
  </div>
  <div class="col-md-12 padding0" style="padding-top:75px">
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa1.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">派克岭</a><br>
        <a class="xiangmu_div_2_1_a2">Park Ridge</a><br>
        <a class="xiangmu_div_2_1_a3">派克岭毗邻迪拜山庄购物中心，将都市生活与自然环境完美相融。在派克岭附近居民可以漫步在优美的中央公园享受户外活动，也可以探索林荫大道上的各色餐厅和商铺。户型选择包括1，2和3居室公寓。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa2.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">山庄云顶</a><br>
        <a class="xiangmu_div_2_1_a2">Park Point</a><br>
        <a class="xiangmu_div_2_1_a3">位于迪拜山庄（Dubai Hills Estate）的宁静圣地，拥有典雅的住宅和极佳的配套设施，是迪拜最高级的新项目之一。住宅楼提供1到3室公寓带阳台和双层公寓。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>

    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa3.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">山庄高地二期</a><br>
        <a class="xiangmu_div_2_1_a2">Park Heights Ⅱ</a><br>
        <a class="xiangmu_div_2_1_a3">距离中央公园，迪拜山庄购物中心和交通主干道仅几分钟路程，可俯瞰如画的公园，并拥有世界级的公共设施，这里是一个梦想中的居住地。住宅楼提供1到3室公寓带阳台。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa4.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">金合欢区</a><br>
        <a class="xiangmu_div_2_1_a2">Acacia</a><br>
        <a class="xiangmu_div_2_1_a3">金合欢区是一个高档的单身公寓楼群，位于湖边，可俯瞰迪拜市中心区的风景线。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_2">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa5.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">枫木三区</a><br>
        <a class="xiangmu_div_2_1_a2">Maple 3</a><br>
        <a class="xiangmu_div_2_1_a3">枫木三区位于迪拜山庄西部，是一个沿着茂密的绿色走廊一体化网状设计的独特2到4单元联排别墅社区，提供3室，4室和5室公寓。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_3">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa6.png" alt="">
      <div class="xiangmu_div_2_1">
        <a class="xiangmu_div_2_1_a1">锡德拉湾三区</a><br>
        <a class="xiangmu_div_2_1_a2">Sidra 3</a><br>
        <a class="xiangmu_div_2_1_a3">在迪拜山庄郁郁葱葱的绿色风情画中，锡德拉湾三区展示了为享受当代生活的人们设计的独家别墅。任何你可能需要或想要的最好的生活方式，都在这一风景如画的社区，有三居、四居、五居别墅可供选择。</a>
      </div>
      <div class="xiangmu_div_2_3">
        <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
      </div>
    </div>
    <div class="xiangmu_div_4" style="">

      <img class="xiangmu_div_2_img" src="/static/www/img/div_emaar_mountain_villa7.png" alt="" style="    width: 48%;float:left">
      <div class="" style="float: left;width: 48%;">
        <div class="xiangmu_div_2_1">
          <a class="xiangmu_div_2_1_a1">别墅荟</a><br>
          <a class="xiangmu_div_2_1_a2">Club Villas</a><br>
          <a class="xiangmu_div_2_1_a3">迪拜山庄的会所别墅项目与锦标赛级别的18洞高尔夫球场浑然一体，得天独厚的天然优势造就迪拜城最奢华社区 . 葱郁茂盛的草木之间，是富丽堂皇的配套设施，这里有最顶级的会所和高尔夫球场，还有丰富多样的餐饮和零售店铺，彰显豪华生活的不凡气度</a>
        </div>
        <div class="xiangmu_div_2_3">
          <button type="button" class="btn btn-default index_bu xiangmu_div_2_1_buttom">垂询与咨询</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-bottom: 68px;">
      <h2>联系我们</h2>
      <h2>联系电话：400-000-0000</h2>
    </div>
  </div>
  <div class="col-md-12">
    <div class="index_lianxi_titile1" style="padding-top: 0px;">
      <a style="font-size:24px">垂询与资讯 <br>我们将以邮件的形式定期为您发送伊玛尔新闻资讯</a>
    </div>
  </div>
  <div class="col-md-12">
    <div style="width: 584px;margin-right: auto;margin-left: auto;">

      <input id="lianxi_xingming_input" class="form-control index_input" placeholder="姓名" type="text" name="" value="">
      <input id="lianxi_xingming_email" class="form-control index_input" placeholder="邮箱" type="text" name="" value="">
      <div class="input-group" style="margin-bottom:21px">
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="height: 80px;width: 130px;border-color: #333;">
            国家代码 <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </div>
        <!-- /btn-group -->
        <input id="lianxi_xingming_dianhua" type="text" class="form-control index_input" placeholder="联系电话"  aria-label="...">
      </div>
     <button type="button" class="btn btn-default index_bu">提交</button>
      <!-- /input-group -->
    </div>
    <!-- /input-group -->
  </div>
  <div class="col-md-12">
    <div class="index_shequ_titile" style="    padding-top: 70px; padding-bottom: 30px;">
      <a style="font-size:24px">关注我们</a>
    </div>
  </div>
  <div class="col-md-12 padding0" style="    text-align: center;">
    <img  src="/static/www/img/123.png" alt="" style="width: 206px;">
  </div>


{include file="public/cn/cn_foot" /}
