{include file="public/ar/ar_header" /}
{include file="public/ar/ar_head" /}
{include file="public/ar/ar_huge_screen" /}
<div class="">
  <div class="index_guanyu_titile" >
    <br>
    <h2>أخبار</h2>
    <br>
  </div>



{foreach name="news" item="vo"}
  <div class="col-md-12">
    <div class="col-md-12 padding0" style="padding-right: 20px;padding-left: 20px;">
      <div class="index_xinwen_div">
        <div class="col-md-1 index_xinwen_div1">
          <a class="index_xinwen_date_a1">{$vo.Ym}</a>
          <br>
          <a class="index_xinwen_date_a2">{$vo.d}</a>
        </div>
        <div class="col-md-1">
          <img class="index_xinwen_img" src="{$vo.img}" alt="">
        </div>
        <div class="col-md-10 xinwen_list_div2">
          <a class="xinwen_list_content_a1" href="/ar/news/{$vo.ns_id}" target="_blank">{$vo.ns_title}</a>
          <br>
          <a class="xinwen_list_content_a2" href="/ar/news/{$vo.ns_id}" target="_blank">{$vo.ns_descript}</a>
        </div>
      </div>
    </div>
  </div>
{/foreach}







<div class="col-md-12" style="    text-align: center;">
    <br>
    <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="/ar/news_list/{$data.shangpage}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li><a href="/ar/news_list/1">1</a></li>
      <li>
        <a href="/ar/news_list/{$data.xiapage}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
  <br><br><br>
  </div>



{include file="public/ar/ar_foot" /}
