.news_title_div{
    width: 409px;
    height: 46px;
    position: absolute;
    left: 262px;
    top: 325px;
}
.news_title_img{
    width: 100%;
    height: 100%;
}

.news_framework_div{
    width: 801px;
    height: 777px;
    position: absolute;
    left: 408px;
    top:438px;
}

.news_framework_img{
    width: 100%;
    height: 100%;
}

.news_fen_bu_div{
    width: 297px;
    height: 779px;
    position: absolute;
    left: 1353px;
    top: 436px;
}
.news_fen_bu_img{
    width: 100%;
    height: 100%;
}


.news_remark_div{
    width: 319px;
    height: 13px;
    position: absolute;
    left: 693px;
    top: 1277px;
}
.news_remark_img{
    width: 100%;
    height: 100%;
}
.ibk_div_menu_text_bj{
    width:137px;
    height:45px;
    border-radius:50%;
    position: absolute;
    left: 1297px;
    top: 203px;
}
.foot_bj {
    width: 100%;
    height: 89px;
    background-image: url("/static/www/img/ibk/ibk_foot_bj.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
@media (max-height:1338px) {
    .foot_bj {
        width: 100%;
        height: 89px;
        background-image: url("/static/www/img/ibk/ibk_foot_bj.png");
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: absolute;
        left: 0px;
        top: 1338px;
    }
}