.member_title_div{
    width: 409px;
    height: 46px;
    position: absolute;
    left: 262px;
    top: 325px;
}

.member_head_portrait_img{
    width: 100%;
    height: 100%;
}
.right_text{
    width: 500px;
    height: 93px;
    position: absolute;
    left: 753px;
    top: 451px;
}
.content_bj{
    width: 1283px;
    height: 676px;
    position: absolute;
    left: 376px;
    top: 597px;
    background-image: url("/static/www/img/ibk/member_info_bj.png");
    z-index: 1;
}
.content_text{
    width: 827px;
    height: 572px;
    position: absolute;
    left: 377px;
    top: 37px;
}
.content_text span{
    font-size:14px;
    font-family:FZLTXHK;
    font-weight:400;
    color:rgba(34,24,21,1);
    line-height:33px;
}
.page{
    width:326px;
    height:14px;
    font-size:14px;
    font-family:HiraginoSansGB-W3;
    font-weight:normal;
    color:rgba(157,155,153,1);
    line-height:33px;
    position: absolute;
    left: 1328px;
    top: 1294px;
}
.top_piece{
    float: left;
}
.bottom_piece{
    float: right;
}
.ibk_div_menu_text_bj{
    width:137px;
    height:45px;
    border-radius:50%;
    position: absolute;
    left: 1421px;
    top: 203px;
}
.foot_bj {
    width: 100%;
    height: 89px;
    background-image: url("/static/www/img/ibk/ibk_foot_bj.png");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
@media (max-height:1387px) {
    .foot_bj {
        width: 100%;
        height: 89px;
        background-image: url("/static/www/img/ibk/ibk_foot_bj.png");
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        position: absolute;
        left: 0px;
        top: 1387px;
    }
}