{include file="public/cn/cn_header" /}
{include file="public/cn/cn_home_head" /}
<link type="text/css" href="/static/www/css/home/emaar.css" rel="stylesheet">
<link type="text/css" href="/static/admin/css/video-js.css" rel="stylesheet">
<link type="text/css" href="//at.alicdn.com/t/font_848989_kidmx6zsfs.css" rel="stylesheet">
<div id="gray" class="gray">
    <div class="div_jie_shao">
        <img  class="img_pic" src="__STATIC__/www/img/emaar/title.png">
    </div>
    <div class="jie_shao_text">
        <span>
            EMAAR是全球广受认可的房地产开发公司之一，也是迪拜房地产行业的领跑者。伊玛尔地产凭借专业的开发能力，
            在物业、商场、零售和酒店休闲领域均获得了巨大的成功，打造了中东、北非、美国、欧洲及南亚地区诸多地标性项目，
            以精致、品质、高效为核心塑造未来。
            伊玛尔地产负责筹建了世界最大的购物中心——迪拜购物中心（The Dubai Mall)，以及世界最高建筑——
            哈利法塔（Burj Khalifa）。同时伊玛尔地产打造的迪拜市中心社区（Downtown Dubai)、迪拜码头社区(Dubai Marina )、
            阿联酋山庄(Emirates Hills)和阿拉伯山庄(Arabian Ranches)等大型综合社区，均已成为阿联酋地区最富品质及盛名的生活社区。
            如果您正在寻找最佳的房地产投资和理财项目，欢迎关注伊玛尔地产的社区项目。
        </span>
    </div>
    <div class="video_div">
        <img id="video_img" class="img-pic" data-title="emaar" src="__STATIC__/www/img/eit/video.png">
    </div>
    <div class="mudon_views">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a  href="#Grande" aria-controls="Grande" role="tab" data-toggle="tab">Grande</a></li>
            <li role="presentation" ><a  href="#Address"   aria-controls="Address" role="tab" data-toggle="tab">The Address</a></li>
        </ul>
    </div>
    <!-- Tab panes -->
    <div id="tab-content" class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="Grande" >
                <div class="pic_div center-block">
                    <div  class="jSlider"  data-indicator="none" data-navigation="none">
                        <div><img src="__STATIC__/www/img/emaar/emaar1_1.png" alt="" /></div>
                        <div><img src="__STATIC__/www/img/emaar/emaar1_2.png" alt="" /></div>
                        <div><img src="__STATIC__/www/img/emaar/emaar1_3.png" alt="" /></div>
                        <div><img src="__STATIC__/www/img/emaar/emaar1_4.png" alt="" /></div>
                        <div><img src="__STATIC__/www/img/emaar/emaar1_5.png" alt="" /></div>
                    </div>
                </div>
            </div>
            <div role="tabpane1" class=" fade"  id="Address">
                <div class="pic_div">
                    <div  class="jSlider"  data-indicator="none" >
                        <div><img src="__STATIC__/www/img/emaar/emaar2_1.png" alt="" /></div>
                        <div><img src="__STATIC__/www/img/emaar/emaar2_2.png" alt="" /></div>
                        <div><img src="__STATIC__/www/img/emaar/emaar2_3.png" alt="" /></div>
                        <div><img src="__STATIC__/www/img/emaar/emaar2_4.png" alt="" /></div>
                    </div>
                </div>
            </div>
        </div>



    <div class="xia_hua_xian_div">
        <img class="img_pic" src="__STATIC__/www/img/home/xia_hua_xian.png">
    </div>
</div>
<div id="example_video" class="example_video"></div>
{include file="public/cn/cn_foot_2" /}