  <div class="col-md-12 padding0">
    <div class="foot_div">
      <div class="font_a_div" style="    font-size: 16px;">
        <a href="/en#maodian_guanyu">About Emaar</a> |
        <a href="/en#maodian_xinwen">News and information</a> |
        <a href="/en#maodian_xiangmu">Community projects</a> |
        <a href="/en#maodian_shuju">The data overview</a> |
        <a href="/en#maodian_lianxi">Contact us</a> |
        <a href="">Terms and privacy</a>
      </div>
      <div class="font_a_div" style="    text-align: left;margin-top: 101px;padding-left: 15px;font-weight: 200;">
        ©Emaar2018
      </div>
    </div>
  </div>

  </div>
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/www/js/bootstrap.js"></script>
  </body>
</html>
