<div class="">
  <img src="/static/www/img/huge_screen.jpg" alt="" style="width: 100%;">
  <div class="cn_huge_screen">
    <a href="/en/" class="cn_huge_screen_a cn_huge_screen_active">Home</a>
    <a href="/en#maodian_guanyu" class="cn_huge_screen_a">About Emaar</a>
    <a href="/en#maodian_xinwen" class="cn_huge_screen_a">News and information</a>
    <a href="/en#maodian_xiangmu" class="cn_huge_screen_a">Community projects</a>
    <a href="/en#maodian_shuju" class="cn_huge_screen_a">Data driven</a>
    <a href="/en#maodian_lianxi" class="cn_huge_screen_a">Contact us</a>
  </div>
</div>
