<div class="xinwen_head2s">
  <div style="width: 1190px;
    margin-left: auto;
    margin-right: auto;">
    <a href="/en" class="xinwen_head2s_screen_a">Home</a>
    <a href="/en#maodian_guanyu" class="xinwen_head2s_screen_a">About Emaar</a>
    <a href="/en#maodian_xinwen" class="xinwen_head2s_screen_a">News and information</a>
    <a href="/en#maodian_xiangmu" class="xinwen_head2s_screen_a">Community projects</a>
    <a href="/en#maodian_shuju" class="xinwen_head2s_screen_a">Data driven</a>
    <a href="/en#maodian_lianxi" class="xinwen_head2s_screen_a">Contact us</a>
  </div>
</div>
